<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz.thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">
	
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{}">
</th:block>



<div layout:fragment="content">

	<!--조회 div 시작  -->
	<form th:action="@{/test/testManage}" method="post">
		<section>
			<div class="info mb-2">
				<b> <svg xmlns="http://www.w3.org/2000/svg" width="16"
						height="16" fill="currentColor" class="bi bi-search"
						viewBox="0 0 16 16">
				  <path
							d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
				</svg> 검색
				</b>
				<p class="card-text ">
					<small class="text-muted"> - 학생이름, 교사이름으로 평가등록 및 수정 삭제할 학생을 검색할 수 있습니다.</small>
				</p>
			</div>
			<div class="row search-detail-form">
				<div class="col-xs-12 col-lg-4">
					<div class="input-group mb-2">
						<span class="input-group-addon col-3">학생이름</span> 
						<input type="text" class="form-control" id="" name="studentName"
							autocomplete="off" th:value="${paramMap['studentName']}">
					</div>
				</div>
				<div class="col-xs-12 col-lg-4">
					<div class="input-group mb-2">
						<span class="input-group-addon col-3">교사이름</span> 
						<input type="text" class="form-control" id="" name="teacherName"
							autocomplete="off" th:value="${paramMap['teacherName']}">
					</div>
				</div>
				<div class="col-xs-12 col-lg-4">
					<div class="d-grid gap-2">
						<div class="d-grid gap-2">
							<button type="submit" name="btn-detail-search"
								class="btn btn-outline-dark me-md-2">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  									<path
										d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
								</svg>
								검색
							</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</form>
	<!--조회 div 끝  -->


	<!--학생 리스트 div 시작  -->
	<div class="row mt-5" id="table_box_bootstrap">
		<table class="table table-hover text-center align-middle ">
		
			<colgroup>
				<col width="5%">
				<col width="*">
				<col width="*">
				<col width="*">
				<col width="10%">
				<col width="10%">
			</colgroup>


			<thead>
				<tr>
					<th scope="col"><input type="checkbox" id="checkAll">
					</th>
					<th scope="col">학생이름</th>
					<th scope="col">교사이름</th>
					<th scope="col">학급명</th>
					<th scope="col">평가결과 등록</th>
					<th scope="col" class="bi bi-arrow-through-heart-fill">평가결과 수정</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				 <th:block th:if="${#lists.size(search)==0}">
					<tr>
						<td colspan="6">학생없음</td>
					</tr>
				</th:block>
				<th:block th:unless="${#lists.size(search)==0}">
					<tr th:each="student:${search}">
						
					
						<td><input type="checkbox" class="chk"></td>
						<td class="stuName" th:id="${student.studentCode}" th:text="${student.studentName}" th:value="${student.studentCode}"></td>
						<!-- <td th:text="${student.studentLessonInfoList[0].lessonInfoVO.teacherVO.teacherName}"></td> -->
						<td>
							<th:block th:each="lesson:${student.studentLessonInfoList}">
							[ [[${lesson.lessonInfoVO.teacherVO.teacherName}]] ]
							</th:block>
						</td>
						<td class="stuLesson">
						<th:block th:each="lesson:${student.studentLessonInfoList}">
						[	[[${lesson.lessonInfoVO.subjectVO.subjectName}]]-[[${lesson.lessonInfoVO.stepVO.stepName}]]-[[${lesson.lessonInfoVO.year}]] ]
						</th:block></td>
						<!-- <td th:text="${student.studentLessonInfoList[0].lessonInfoVO.subjectVO.subjectName+'-'+student.studentLessonInfoList[0].lessonInfoVO.stepVO.stepName+'-'+student.studentLessonInfoList[0].lessonInfoVO.year}"></td> -->
						<td><input type="button" class="btn btn-outline-dark me-md-2"
						value="등록" th:onclick="openRegTestModal([[${student.studentCode}]],[[${student.studentName}]], [[${student.studentLessonInfoList}]]);" data-bs-toggle="modal" data-bs-target="#testInfoReg"></td>
						<td><input type="button" class="btn btn-outline-dark me-md-2"
							value="수정" th:onclick="openChangeTestModal([[${student.studentCode}]],[[${student.studentName}]],[[${student.studentLessonInfoList}]]);" data-bs-toggle="modal" data-bs-target="#testInfoChange"></td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
	<!--학생 리스트 div 끝-->




	<!--평가 등록 모달 시작-------------------------------------------------------------------------------------------------------------------------------->

	<!-- Modal -->
	<form th:action="@{/test/regScore}" method="post" id="regTestForm"  class="needs-validation" novalidate name="regForm">
		<div class="modal fade" id="testInfoReg" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">평가결과 등록</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						
						<!-- 학생코드  -->
						<input id="stuCodeForReg" type="hidden" name="studentCode" value="" > 

						<div class="row mb-1">
							<div class="form-group input-group mb-1">
								<div class="col-6 col-lg-2 px-0">
									<span class="input-group-text h-100 rounded-0">학생이름</span>
								</div>
								<div class="col-6 col-lg-10 px-1 rounded-1">
									<input id="stuNameForReg" class="form-control" type="text" value="" aria-label="readonly input example" readonly>
								</div>
							</div>
						</div>
						
						
						<div class="row mb-1">
							<div class="form-group input-group mb-1">
								<div class="col-6 col-lg-2 px-0">
									<span class="input-group-text h-100 rounded-0">수강학급</span>
								</div>
								<div class="col-6 col-lg-10 px-1 rounded-1">
									<input id="stuLessons" class="form-control" type="text" value=" " aria-label="readonly input example" readonly>
									
								</div>
							</div>
						</div>


						
						
						<div class="row mb-1">
							<div class="form-group input-group mb-1">
								<div class="col-6 col-lg-2 px-0">
									<span class="input-group-text h-100 rounded-0">과목</span>
								</div>
								<div class="col-6 col-lg-10 px-1 rounded-1">
									
									
									<select class="form-select selectChange" name="subjectCode"  aria-label="Default select example" id="selectSub">
										<option value="">선택</option>
										 <th:block th:each ="sub:${subjectList}" >
									      <option th:value="${sub.subjectCode}" th:text="${sub.subjectName}" >
									      </option>
									    </th:block>	
									</select>
									
									
								</div>
							</div>
						</div>
						
						<div class="row mb-1">
							<div class="form-group input-group mb-1">
								<div class="col-6 col-lg-2 px-0">
									<span class="input-group-text h-100 rounded-0">평가일</span>
								</div>
								<div class="col-6 col-lg-10 px-1 rounded-1">
									<!-- <input type="date" id="" name="testDate"
										class="form-control rounded-0 h-100" 
										aria-label="8" aria-describedby="cpaCn" > -->
										
									<select
										class="form-select" aria-label="Default select example" id="selectDate" name="testDate">
										<option value="" selected>전체</option>
										<option value="0101">[1차] 1월 1일</option>
										<option value="0401">[2차] 4월 1일</option>
										<option value="0701">[3차] 7월 1일 </option>
										<option value="1001">[4차] 10월 1일</option>
									</select>
										 
										
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="form-group input-group mb-1">
								<div class="col-6 col-lg-2 px-0">
									<span class="input-group-text h-100 rounded-0">점수</span>
								</div>
								<div class="col-6 col-lg-10 px-1 rounded-1">
									<input type="number" id="inputScore" name="score"
										class="form-control rounded-0 h-100" placeholder="점수를 입력하세요"
										aria-label="8" aria-describedby="cpaCn" min="0" max="100" required>
									 <div class="invalid-feedback">
								        점수 입력!
								      </div>
								</div>
								
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">취소</button>
						<button id="regBtn" type="button" class="btn btn-primary">저장</button>
<!-- 						<button id="regBtn" type="button" onclick="regTest();" class="btn btn-primary">저장</button> -->
					</div>
				</div>
			</div>
		</div>
	</form>


	<!--평가 등록 모달 끝---------------------------------------------------------------------------------------------------------------------------------->
	







    <!-- 평가 수정 삭제 모달 시작-------------------------------------------------------------------------------------------------------------------------------->            
    <!-- Modal -->
	<div class="modal fade" id="testInfoChange" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">평가결과 수정</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<!-- Modal body 시작 -->
				<form action="{}"  method="post" id="UpdateOrDeleteForm" name="UpdateOrDeleteForm">
					<div class="modal-body">
								<div class="row mb-1">
							<div class="form-group input-group mb-1">
								<div class="col-6 col-lg-2 px-0">
									<span class="input-group-text h-100 rounded-0">학생이름</span>
								</div>
								<div class="col-6 col-lg-10 px-1 rounded-1">
									<!-- 학생코드  -->
									<input id="stuCodeForChange" type="hidden" name="studentCode" value="" > 
								
								
									<input id="stuNameForChange" class="form-control" type="text" value="" aria-label="readonly input example" readonly>
								</div>
							</div>
						</div>
						
						
						<div class="row mb-1">
							<div class="form-group input-group mb-1">
								<div class="col-6 col-lg-2 px-0">
									<span class="input-group-text h-100 rounded-0">수강학급</span>
								</div>
								<div class="col-6 col-lg-10 px-1 rounded-1">
									<input id ="stuLessonsForChange" class="form-control" type="text" value="" aria-label="readonly input example" readonly>
									
								</div>
							</div>
						</div>
						
						<div class="row mb-1">
							<div class="form-group input-group mb-1">
								<div class="col-6 col-lg-2 px-0">
									<span class="input-group-text h-100 rounded-0">과목</span>
								</div>
								<div class="col-6 col-lg-10 px-1 rounded-1">
									
									
									<select class="form-select selectChange" name="subjectCode"  aria-label="Default select example" id="selectSubforChange">
										<option value="">선택</option>
										 <th:block th:each ="sub:${subjectList}" >
									      <option th:value="${sub.subjectCode}" th:text="${sub.subjectName}" >
									      </option>
									    </th:block>	
									</select>
									
									
								</div>
							</div>
						</div>
						

						<div class="row mb-1">
							<div class="form-group input-group mb-1">
								<div class="col-6 col-lg-2 px-0">
									<span class="input-group-text h-100 rounded-0">평가일</span>
								</div>
								<div class="col-6 col-lg-10 px-1 rounded-1" id="forChangeDiv">
									<!-- <input class="form-control" type="text" value="" aria-label="readonly input example" readonly> -->
									<select
										class="form-select" aria-label="Default select example" id="selectDateforChange" name="testDate">
										<option value="" selected >평가 정보가 없습니다.</option>
									</select>
								</div>
							</div>
						</div>
						
						
						
						
						<div class="row">
							<div class="form-group input-group mb-1">
								<div class="col-6 col-lg-2 px-0">
									<span class="input-group-text h-100 rounded-0">점수</span>
								</div>
								<div class="col-6 col-lg-10 px-1 rounded-1">
									<input type="hidden" id="testCodeForchange" name="testCode" value="">
									<input type="number" id="changeScoreInput" name="score" value=""
										class="form-control rounded-0 h-100" placeholder="점수를 입력하세요"
										aria-label="8" aria-describedby="cpaCn" min="0" max="100" >
								</div>
							</div>
						</div>
					</div>
					<!-- Modal body 끝 -->
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">취소</button>
						<button onclick="deleteTest();" type="button" class="btn btn-danger">삭제</button>
						<button onclick="updateTest();" type="button" class="btn btn-primary">저장</button>
					</div>
				</form>
			</div>
		</div>
	</div>
    
    
    
    
    <!--평가 수정 삭제 모달 끝---------------------------------------------------------------------------------------------------------------------------------------------------->


	






	<!-- jquery 문법 로딩 -->
	<!--순서 잘 맞춰서 적어야 함 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<script th:src="@{/js/paginator.js}"></script>	
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" th:src="@{/js/test/testManage.js}"></script>

</div>


</html>