<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz.thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">
	
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{}">
</th:block>



<div layout:fragment="content">

	<!--조회 div 시작  -->
	<form th:action="@{/test/testManage}" method="post">
		<section>
			<div class="info mb-2">
				<b>
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
				  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
				</svg>
				 검색</b>
			</div>
			<div class="row search-detail-form">
				<div class="col-xs-12 col-lg-3">
					<div class="input-group mb-2">
						<span class="input-group-addon col-3">학생이름</span> 
						<input type="text" class="form-control" id="" name="studentName" autocomplete="off" th:value="${paramMap['studentName']}" >
					</div>
				</div>
				<div class="col-xs-12 col-lg-3">
					<div class="input-group mb-2">
						<span class="input-group-addon col-3">교사이름</span> 
						<input type="text" class="form-control" id="" name="teacherName"
							autocomplete="off" th:value="${paramMap['teacherName']}" >
					</div>
				</div>
				<div class="col-xs-12 col-lg-3">
					<div class="input-group mb-2">
						<span class="input-group-addon col-3">학급명</span> 
						<input type="text" class="form-control" id="" name="lessonInfoCode" autocomplete="off" th:value="${paramMap['lessonInfoCode']}">
					</div>
				</div>
				<div class="col-xs-12 col-lg-3">
					<div class="d-grid gap-2">
						<div class="d-grid gap-2">
							<button type="submit" name="btn-detail-search"
								class="btn btn-outline-dark me-md-2">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  									<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
								</svg>
								검색</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</form>
	<!--조회 div 끝  -->
 	<!-- 엑셀 시작-->
	<div class="dt-buttons mt-5" style="text-align: right;">
		<button
			class="btn btn-outline-dark me-md-2"
			tabindex="0" aria-controls="ftOvTestResultList" type="button">
			<span>엑셀 다운로드</span>
		</button>
	</div>
	<!-- 엑셀 끝  -->

	<!--학생 리스트 div 시작  -->
	<div class="row mt-5">
		<table class="table table-hover text-center align-middle ">
			<thead>
				<tr>
					<th scope="col">
						<input type="checkbox" id="checkAll">
					</th>
					<th scope="col">학생이름</th>
					<th scope="col">교사이름</th>
					<th scope="col">학급명</th>
					<th scope="col" class="bi bi-arrow-through-heart-fill">평가결과 수정</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				
					<tr>
						<td><input type="checkbox" class="chk"></td>
						<td>학생이름</td>
						<td>교사이름</td>
						<td>학급명</td>
						<td><input type="button" class="btn btn-outline-dark me-md-2"
							value="수정" data-bs-toggle="modal" data-bs-target="#testInfoChange"></td>
					</tr>
				<!-- <th:block th:if="${#lists.size(search)==0}">
					<tr>
						<td colspan="5">학생없음</td>
					</tr>
				</th:block>
				<th:block th:unless="${#lists.size(search)==0}">
					<tr th:each="student:${search}">
						<td><input type="checkbox" class="chk"></td>
						<td th:text="${student.studentName}"></td>
						<td th:text="${student.teacherName}"></td>
						<td th:text="${student}"></td>
						<td><input type="button" class="btn btn-outline-dark me-md-2"
							value="수정" data-bs-toggle="modal" data-bs-target="#exampleModal"></td>
					</tr>
				</th:block> -->
			</tbody>


		</table>
	</div>

	<!--학생 리스트 div 끝-->

    <!-- 평가 수정 모달 시작-------------------------------------------------------------------------------------------------------------------------------->            
    <!-- Modal -->
	<div class="modal fade" id="testInfoChange" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">평가결과 수정</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<!-- Modal body 시작 -->
				<form th:action="@{/test/updateScore}" method="post" id="UpdateOrDeleteForm">
					<div class="modal-body">
						<div class="row">
							<div class="form-group input-group mb-1">
								<div class="col-6 col-lg-2 px-0">
									<span class="input-group-text h-100 rounded-0">점수</span>
								</div>
								<div class="col-6 col-lg-10 px-1 rounded-1">
									<input type="text" id="" name=""
										class="form-control rounded-0 h-100" placeholder="점수"
										aria-label="8" aria-describedby="cpaCn" value="10">
								</div>
							</div>
						</div>
					</div>
					<!-- Modal body 끝 -->
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">취소</button>
						<button onclick="deleteTest();" type="button" class="btn btn-danger">삭제</button>
						<button onclick="updateTest();" type="button" class="btn btn-primary">저장</button>
					</div>
				</form>
			</div>
		</div>
	</div>
    
    
    
    
    <!--모달 끝---------------------------------------------------------------------------------------------------------------------------------------------------->            







	<!-- jquery 문법 로딩 -->
	<!--순서 잘 맞춰서 적어야 함  -->
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" th:src="@{/js/test/testManage.js}"></script>

</div>


</html>