<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMapper">
	
	
	<!-- <resultMap type=" id="">
		<id column="" 							property="" />
		<result column="" 								property="" />
		<result column="" 								property="" />
		<result column="" 							property="" />
	
	</resultMap> -->
	
	 <resultMap type="kh.study.academy.admin.vo.SubjectVO" id="subject">
		<id column="SUBJECT_CODE" 			property="subjectCode" />
		<result column="SUBJECT_NAME" 		property="subjectName" />
		
	</resultMap> 
	
	
	<!-- 교사리스트 조회 -->
	<!--LESSONS,SUBJECT CODE 수정 필요... -->
	<select id="selectTeacherList" resultMap="teacherMapper.teacher">
	
		SELECT TEACHER_CODE
			, NAME
			, TELL
			, CAREER
			, TEACHER_ID
			, TEACHER_STATUS
			, LESSONS_CODE
			, SUBJECT_CODE
		FROM TEACHER 
		WHERE TEACHER_ROLE = 'TEACHER' 
		<!-- 원장도 교사리스트에서 조회?? -->
	
	</select>
	
	
	<!-- 과목 등록 쿼리문  -->
 	<insert id="insertSubject">
 	
		<selectKey resultType="String" keyProperty="subjectCode" order="BEFORE">
			SELECT 'SUBJECT_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(SUBJECT_CODE, 9))), 0) + 1, 3, 0) 
			FROM SUBJECT
		</selectKey>
	
		INSERT INTO SUBJECT(
			SUBJECT_CODE
			, SUBJECT_NAME
		) VALUES (
			#{subjectCode}
			, #{subjectName}
		)
	</insert> 
		
		
	<!--  등록된 과목 조회  -->	
	<select id="selectSubject" resultMap="subject">
		SELECT SUBJECT_CODE
			, SUBJECT_NAME
		FROM SUBJECT
		ORDER BY SUBJECT_CODE
	</select>
	
	<!-- 등록한 과목을 체크해서 삭제 -->
	<delete id="deleteSubject">
	DELETE SUBJECT
	WHERE SUBJECT_CODE IN
	<foreach collection="subjectCodeList" item="subjectCode" separator="," open="(" close=")">
		#{subject_code}
	</foreach>
	
	</delete>
	
	
</mapper>
























