<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="attendMapper">


	<resultMap type="kh.study.academy.attend.vo.AttendVO"			id="attend">
		<id column="ATTENDANCE_CODE" 									property="attendanceCode" />
		<result column="LESSON_DATE" 								property="lessonDate" />
		<result column="IS_ATTANDENCE" 									property="isAttandence" />
		<result column="STUDENT_LESSON_CODE" 							property="studentLessonCode" />
		
		<association property="studentLessonInfoVO" 						resultMap="studentMapper.studentLessonInfo"/>
		
	</resultMap>
	
	<!-- 출결 코드 등록 -->
 	<insert id="creatAttend">
		<selectKey resultType="String" keyProperty="attendanceCode" order="BEFORE">
			SELECT 'ATTEND_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ATTENDANCE_CODE, 8))), 0) + 1, 3, 0) 
			FROM ATTENDANCE
		</selectKey>
	
		INSERT INTO ATTENDANCE(
			ATTENDANCE_CODE
			, LESSON_DATE
			, STUDENT_LESSON_CODE
		) VALUES (
			#{attendanceCode}
			, #{lessonDate}
			, #{studentLessonCode}
		)
	</insert> 
	
	<!-- 학생들의 출결 상태 확인 -->
	<select id="selectAttendStu" resultMap="attend">
		SELECT  S.STUDENT_CODE
		    , A.STUDENT_LESSON_CODE
		    , LESSON_INFO_CODE
		    , IS_ATTANDENCE
		    , TO_CHAR(LESSON_DATE, 'YYYY-MM-DD') AS LESSON_DATE 
		FROM STUDENT S, STUDENT_LESSON_INFO SL, ATTENDANCE A
		WHERE SL.STUDENT_LESSON_CODE = A.STUDENT_LESSON_CODE
		AND SL.STUDENT_CODE = S.STUDENT_CODE
		AND S.STUDENT_CODE = #{studentCode}
	</select>
	
	
	<!-- 출석 상태 변경 -->
	<update id="updateIsAttandence">
		UPDATE ATTENDANCE
		SET IS_ATTANDENCE = #{isAttandence}
		WHERE STUDENT_LESSON_CODE = (SELECT STUDENT_LESSON_CODE 
										FROM STUDENT_LESSON_INFO 
										WHERE STUDENT_CODE = #{studentCode})
		AND LESSON_DATE = #{lessonDate}
	</update>
	
</mapper>
























