<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lessonMapper">
	<resultMap type="kh.study.academy.lesson.vo.LessonInfoVO" 	   	id="lessonInfo">
		<id column="LESSON_INFO_CODE" 								property="lessonInfoCode" />
		<result column="LESSON_TIME" 								property="lessonTime" />
		<result column="LESSON_DAY_CODE" 							property="lessonDayCode" />
		<result column="LESSON_ROOM_CODE" 							property="lessonRoomCode" />
		<result column="YEAR" 										property="year" />
		<result column="TEACHER_CODE" 								property="teacherCode" />
		<result column="SUBJECT_CODE" 								property="subjectCode" />
		<result column="MAX_STUDENT" 								property="maxStudent" />
		<result column="NOW_STUDENT_CNT" 							property="nowStudentCnt" />
		<result column="MONEY" 										property="money" />
		<result column="LESSON_INFO_REGDATE" 						property="lessonInfoRegdate" />
		<result column="LESSON_INFO_STATUS" 						property="lessonInfoStatus" />
		<result column="MEMO" 										property="memo" />
	
		<association property="subjectVO" 							resultMap="adminMapper.subject"/>
		<association property="stepVO" 								resultMap="lessonMapper.step"/>
		<association property="lessonRoomVO"						resultMap="adminMapper.lessonRoom"/>
		<association property="teacherVO" 							resultMap="teacherMapper.teacher"/>
		<association property="paymentVO"							resultMap="studentMapper.payment"/>
		
	</resultMap>
	

	<!-- 강의등급 -->
	<resultMap type="kh.study.academy.lesson.vo.StepVO" 			id="step">
		<id column="STEP_CODE" 										property="stepCode" />
		<result column="STEP_NAME" 									property="stepName" />
	</resultMap>
	
	
	<!-- 강의 요일 -->
	<resultMap type="kh.study.academy.lesson.vo.LessonDayVO" 		id="lessonDay">
		<id column="LESSON_DAY_CODE" 								property="lessonDayCode" />
		<result column="LESSON_DAY_NAME" 							property="lessonDayName" />
	</resultMap>
	
	
	
	
	



	
	
	<!-- /////<학급 편성 관련>//////////////////////////////////////////////////////////// -->	
	


	<!-- 과목 목록 조회 -->
	<select id="subjectName" resultMap="adminMapper.subject">
		SELECT SUBJECT_CODE
		FROM LESSONS
		ORDER BY SUBJECT_CODE
	</select>



	
	<!-- 강의등급 목록 조회 -->
	<select id="selectStepList" resultMap="step">
		SELECT STEP_CODE
			, STEP_NAME
		FROM STEP
	</select>
	
	
	
	<!--  강의 요일 목록 조회  -->
	<select id="selectLessonDayList" resultMap="lessonDay">
		SELECT LESSON_DAY_CODE
			, LESSON_DAY_NAME
		FROM LESSON_DAY
	</select>




	 <!-- 학급 편성 등록 -->
	<insert id="regLessonInfo">
		<selectKey resultType="String" keyProperty="lessonInfoCode" order="BEFORE">
			SELECT 'LESSON_INFO_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(LESSON_INFO_CODE, 13))), 0) + 1, 3, 0) 
			FROM LESSON_INFO
		</selectKey>
		
		INSERT INTO LESSON_INFO(
			LESSON_INFO_CODE
			, SUBJECT_CODE
			, STEP_CODE
			, LESSON_DAY_CODE
			, LESSON_ROOM_CODE
			, TEACHER_CODE 
			, LESSON_TIME 
			, YEAR
			, MAX_STUDENT
			, NOW_STUDENT_CNT
			, MONEY
			, MEMO
		) VALUES (
			#{lessonInfoCode}
			, #{subjectCode}
			, #{stepCode}
			, #{lessonDayCode}
			, #{lessonRoomCode}
			, #{teacherCode}
			, #{lessonTime}
			, #{year}
			, #{maxStudent}
			, 0
			, #{money}
			, #{memo}
			
		)
	</insert>


	<!--  학급 편성 리스트 조회 -->
	<select id="selectLessonInfoList" resultMap="lessonInfo">
		SELECT LESSON_INFO_CODE
			, TO_CHAR(LESSON_INFO_REGDATE,'YYYY-MM-DD')AS LESSON_INFO_REGDATE
			, (SELECT SUBJECT_NAME
				FROM SUBJECT
				WHERE SUBJECT_CODE = L.SUBJECT_CODE) AS SUBJECT_NAME
			, (SELECT STEP_NAME
				FROM STEP
				WHERE STEP_CODE = L.STEP_CODE) AS STEP_NAME
			, YEAR
			, NOW_STUDENT_CNT
			, MAX_STUDENT
			, MONEY
			, LESSON_DAY_CODE
			, LESSON_TIME 
			, (SELECT ROOM_NAME
				FROM LESSON_ROOM
				WHERE LESSON_ROOM_CODE = L.LESSON_ROOM_CODE) AS ROOM_NAME
			, (SELECT TEACHER_NAME
				FROM TEACHER
				WHERE TEACHER_CODE = L.TEACHER_CODE) AS TEACHER_NAME
			, MEMO
			, LESSON_INFO_STATUS
		FROM LESSON_INFO L 
		
 			WHERE 1 = 1 
			<if test="subjectCode != null and !subjectCode.equals('')">
				AND L.SUBJECT_CODE = #{subjectCode}
			</if>
			
			<if test="year != null and year != 0">
				AND L.YEAR = #{year}
			</if>
			<if test="stepCode != null and !stepCode.equals('')">
				AND L.STEP_CODE = #{stepCode}
			</if>
			<if test="lessonInfoCode != null and !lessonInfoCode.equals('')">
				AND LESSON_INFO_CODE = #{lessonInfoCode}
			</if>
		
		
	</select>
	
	
	
	
	
	<!-- 학급편성 삭제 쿼리 -->
		<delete id="deleteLessonInfo">
			DELETE LESSON_INFO
			WHERE LESSON_INFO_CODE IN
			
			<foreach collection="lessonInfoCodeList" item="lessonInfoCode" separator="," open="(" close=")">
					#{lessonInfoCode}
			</foreach>
	
		</delete>
	 
	 
	 
	 <!-- 학급 검색 조회  -->
	 <select id="searchLessonInfo" resultMap="lessonInfo" parameterType="hashMap">
	 
	 SELECT LESSON_INFO_CODE
			, TO_CHAR(LESSON_INFO_REGDATE,'YYYY-MM-DD')AS LESSON_INFO_REGDATE
			, (SELECT SUBJECT_NAME
				FROM SUBJECT
				WHERE SUBJECT_CODE = L.SUBJECT_CODE) AS SUBJECT_NAME
			, (SELECT STEP_NAME
				FROM STEP
				WHERE STEP_CODE = L.STEP_CODE) AS STEP_NAME
			, YEAR
			, NOW_STUDENT_CNT
			, MAX_STUDENT
			, MONEY
			, LESSON_DAY_CODE
			, LESSON_TIME 
			, (SELECT ROOM_NAME
				FROM LESSON_ROOM
				WHERE LESSON_ROOM_CODE = L.LESSON_ROOM_CODE) AS ROOM_NAME
			, (SELECT TEACHER_NAME
				FROM TEACHER
				WHERE TEACHER_CODE = L.TEACHER_CODE) AS TEACHER_NAME
			, MEMO
			, LESSON_INFO_STATUS
		FROM LESSON_INFO L 
	 
	 	WHERE 1 = 1 
			<if test="year != null and year != 0">
				AND L.YEAR = #{year}
			</if>
			<if test="lessonDayCode != null and !lessonDayCode.equals('')">
				AND L.LESSON_INFO_CODE = #{lessonDayCode}
			</if>
			<if test="lessonTime != null and !lessonTime.equals('')">
				AND L.LESSONTIME = #{lessonTime}
			</if>
			<if test="roomName != null and !roomName.equals('')">
				AND L.ROOMNAME = #{roomName}
			</if>
			<if test="teacherName != null and !teacherName.equals('')">
				AND TEACHER_NAME = #{teacherName}
			</if>
	  </select>
	 
	 
	 <!-- 학생등록시 nowStudent +1증가  -->
	 <update id="updateNowStudent">
		 UPDATE LESSON_INFO
		SET NOW_STUDENT_CNT = (SELECT MAX(NOW_STUDENT_CNT)+1 FROM LESSON_INFO WHERE LESSON_INFO_CODE = #{lessonInfoCode})
		WHERE LESSON_INFO_CODE = #{lessonInfoCode}
	 </update>	 
	 <!-- 학생이동시 nowStudent -1감소 -->
	 <update id="updateBeforeNowStudent">
		 UPDATE LESSON_INFO
		SET NOW_STUDENT_CNT = (SELECT MAX(NOW_STUDENT_CNT)-1 FROM LESSON_INFO WHERE LESSON_INFO_CODE = #{beforeLessonInfoCode})
		WHERE LESSON_INFO_CODE = #{beforeLessonInfoCode}
	 </update>	 
	 
	 <!-- 수납여부와 편성학급 같이 조회 -->
	 <select id="selectLessonAndPay" resultMap="lessonInfo">
	 	SELECT L.LESSON_INFO_CODE
		    , (SELECT SUBJECT_NAME
						FROM SUBJECT
						WHERE SUBJECT_CODE = L.SUBJECT_CODE) AS SUBJECT_NAME
		    , (SELECT STEP_NAME
						FROM STEP
						WHERE STEP_CODE = L.STEP_CODE) AS STEP_NAME
		    , YEAR
		    , PAYMENT_CODE
		    , (SELECT STUDENT_CODE FROM STUDENT_LESSON_INFO WHERE STUDENT_CODE = SL.STUDENT_CODE) AS STUDENT_CODE
		  <!--   , DECODE(IS_PAY, 'N', '미납', '완납') AS IS_PAY -->
		    , IS_PAY
		FROM LESSON_INFO L, PAYMENT P, STUDENT_LESSON_INFO SL
		WHERE L.LESSON_INFO_CODE = SL.LESSON_INFO_CODE
		AND P.STUDENT_LESSON_CODE = SL.STUDENT_LESSON_CODE
		AND P.STUDENT_LESSON_CODE IN (SELECT STUDENT_LESSON_CODE 
		                            FROM STUDENT_LESSON_INFO 
		                            WHERE STUDENT_CODE = #{studentCode})
	 
	 </select>
	 
	 
	 
	 <!-- 메소드명(String lessonDayCode) -->
	 <select id="selectClassUseRepeated" resultType="String">
	 	SELECT 
		    '18:00 ~ 19:00 '|| 
		    (SELECT '사용중 [' FROM DUAL WHERE EXISTS (SELECT * FROM LESSON_INFO WHERE LESSON_DAY_CODE = #{lessonDayCode} AND LESSON_TIME = '18'))||
		    (SELECT (SELECT TEACHER_NAME||']' FROM TEACHER WHERE TEACHER_CODE = LESSON_INFO.TEACHER_CODE)||'/'||(SELECT ROOM_NAME FROM LESSON_ROOM WHERE LESSON_ROOM_CODE = LESSON_INFO.LESSON_ROOM_CODE) FROM LESSON_INFO WHERE LESSON_DAY_CODE = #{lessonDayCode} AND LESSON_TIME = '18')
		FROM DUAL
		UNION ALL
		SELECT 
		    '19:00 ~ 20:00 '||
		     (SELECT '사용중 [' FROM DUAL WHERE EXISTS (SELECT * FROM LESSON_INFO WHERE LESSON_DAY_CODE = #{lessonDayCode} AND LESSON_TIME = '19'))||
		     (SELECT (SELECT TEACHER_NAME||']' FROM TEACHER WHERE TEACHER_CODE = LESSON_INFO.TEACHER_CODE)||'/'||(SELECT ROOM_NAME FROM LESSON_ROOM WHERE LESSON_ROOM_CODE = LESSON_INFO.LESSON_ROOM_CODE) FROM LESSON_INFO WHERE LESSON_DAY_CODE = #{lessonDayCode} AND LESSON_TIME = '19')
		FROM DUAL
		UNION ALL
		SELECT 
		    '20:00 ~ 21:00 ' ||
		    (SELECT '사용중 [' FROM DUAL WHERE EXISTS (SELECT * FROM LESSON_INFO WHERE LESSON_DAY_CODE = #{lessonDayCode} AND LESSON_TIME = '20'))||
		    (SELECT (SELECT TEACHER_NAME||']' FROM TEACHER WHERE TEACHER_CODE = LESSON_INFO.TEACHER_CODE)||'/'||(SELECT ROOM_NAME FROM LESSON_ROOM WHERE LESSON_ROOM_CODE = LESSON_INFO.LESSON_ROOM_CODE) FROM LESSON_INFO WHERE LESSON_DAY_CODE = #{lessonDayCode} AND LESSON_TIME = '20')
		FROM DUAL
		UNION ALL
		SELECT 
		    '21:00 ~ 22:00 ' ||
		    (SELECT '사용중 [' FROM DUAL WHERE EXISTS (SELECT * FROM LESSON_INFO WHERE LESSON_DAY_CODE = #{lessonDayCode} AND LESSON_TIME = '21'))||
		    (SELECT (SELECT TEACHER_NAME||']' FROM TEACHER WHERE TEACHER_CODE = LESSON_INFO.TEACHER_CODE)||'/'||(SELECT ROOM_NAME FROM LESSON_ROOM WHERE LESSON_ROOM_CODE = LESSON_INFO.LESSON_ROOM_CODE) FROM LESSON_INFO WHERE LESSON_DAY_CODE = #{lessonDayCode} AND LESSON_TIME = '21')
		FROM DUAL
		 	
	 </select>
	 
	 
	 
	 
	 <!-- 교실 사용 중복 여부 확인 조회 -->
	 <select id="doubleCheckLesson" resultMap="lessonInfo">
	 	SELECT LESSON_INFO_CODE
	 	FROM LESSON_INFO
		WHERE LESSON_TIME = #{lessonTime}
		AND LESSON_DAY_CODE = #{lessonDayCode}
		AND LESSON_ROOM_CODE = #{lessonRoomCode} 
	 </select>
	 

</mapper>