<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lessonMapper">
	<resultMap type="kh.study.academy.lesson.vo.LessonInfoVO" 	id="lessonInfo">
		<id column="LESSON_INFO_CODE" 										property="lessonInfoCode" />
		<result column="LESSONS_CODE" 										property="lessonsCode" />
		<result column="LESSON_TIME" 										property="lessonTime" />
		<result column="STEP_CODE" 											property="stepCode" />
		<result column="LESSON_DAY_CODE" 									property="lessonDayCode" />
		<result column="LESSON_ROOM_CODE" 									property="lessonRoomCode" />
		<result column="YEAR" 												property="year" />
		<result column="TEACHER_CODE" 										property="teacherCode" />
		<result column="SUBJECT_CODE" 										property="subjectCode" />
		<result column="NOW_STUDENT_CNT" 									property="nowStudentCnt" />
		<result column="MONEY" 												property="money" />
		<result column="LESSON_INFO_REGDATE" 								property="lessonInfoRegdate" />
		<result column="LESSON_INFO_STATUS" 								property="lessonInfoStatus" />
		<collection property="studentLessonInfoList" 						resultMap="studentLessonInfo"/>
	</resultMap>
	
	<resultMap type="kh.study.academy.lesson.vo.StepVO" 	id="step">
		<id column="STEP_CODE" 		property="stepCode" />
		<result column="STEP_NAME" 		property="stepName" />
	</resultMap>
	
	<select id="selectStepList" resultMap="step">
		SELECT STEP_CODE
			, STEP_NAME
		FROM STEP
	</select>
	
	
	
	 

</mapper>