<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="likeMapper">

<resultMap type="kh.study.academy.likeTable.vo.LikeTableVO" id="like">
	<id column="LIKE_CODE" property="likeCode"/>
	<result column="TEACHER_ID" property="teacherId"/> 
	<result column="BOARD_NUM" property="boardNum"/> 
	<result column="LIKE_CHECK" property="likeCheck"/> 
</resultMap>


<!-- 게시글 추천 시 Like 테이블에 insert -->
<insert id="insertLike">
	<selectKey resultType="String" keyProperty="likeCode" order="BEFORE">
	   SELECT 'LIKE_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(LIKE_CODE, 6))),0) +1, 3, 0) 
	   FROM LIKE_TABLE
	</selectKey>

	INSERT INTO LIKE_TABLE (
		LIKE_CODE
		, TEACHER_ID
		, BOARD_NUM
	) VALUES (
		#{likeCode}
		, #{teacherId}
		, #{boardNum}
	)
</insert>

<!-- 게시글 추천취소 시 delete -->
<delete id="deleteLike">
	DELETE FROM LIKE_TABLE
	WHERE BOARD_NUM = #{boardNum}
	AND TEACHER_ID = #{teacherId}
</delete>


<!-- 게시글 추천 시 Check를 1로 만들어서 중복방지-->
<update id="updateLikeCheck">
	UPDATE LIKE_TABLE 
	SET LIKE_CHECK = 1
	WHERE BOARD_NUM = #{boardNum}
	AND TEACHER_ID = #{teacherId}
</update>


<!-- 게시글 추천취소 시 다시 0  -->
<update id="updateLikeCheckCancle">
	UPDATE LIKE_TABLE
	SET LIKE_CHECK = 0
	WHERE BOARD_NUM = #{boardNum}
	AND TEACHER_ID = #{teacherId}
</update>


<!-- 게시글 추천 중복방지 select문 -->
<select id="likeCheck" resultType="int">
	SELECT COUNT(*) FROM LIKE_TABLE 
	WHERE BOARD_NUM = #{boardNum}
	AND TEACHER_ID = #{teacherId}
</select>

</mapper>