<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="statisticsMapper">
	<resultMap type="kh.study.academy.statistics.vo.StudentCntPerGrade" 		id="studentCntPerGrade">
		<id column="STUDENT_YEAR"												property="studentYear"/>
		<result column="STUDENT_CNT" 											property="studentCnt"/>
	</resultMap>
	
	<resultMap type="kh.study.academy.statistics.vo.StudentCntPerSubject" 		id="studentCntPerSubject">
		<id column="STUDENT_YEAR"												property="studentYear"/>
		<result column="STUDENT_CNT" 											property="studentCnt"/>
		<result column="SUBJECT_NAME" 											property="subjectName"/>
	</resultMap>
	
	
	
	

	
	<!-- 학년별 학생 수 조회 -->
	<select id="selectNumByStuYear" resultMap="studentCntPerGrade">
		SELECT STUDENT_YEAR||'학년' AS STUDENT_YEAR
			,COUNT(STUDENT_CODE) AS STUDENT_CNT
		FROM STUDENT
        GROUP BY STUDENT_YEAR
	
	</select>
	
	
	<!-- 과목별 학생 수 조회 -->
	<select id="selectNumByStuSubject" resultMap="studentCntPerSubject">
		SELECT STUDENT_YEAR
	    ,(SELECT SUBJECT_NAME
	               FROM SUBJECT
	               WHERE SUBJECT_CODE = L.SUBJECT_CODE) AS SUBJECT_NAME
	        
	        , COUNT(*) AS STUDENT_CNT
	        FROM LESSON_INFO L, STUDENT_LESSON_INFO SL, STUDENT S
	        WHERE S.STUDENT_CODE = SL.STUDENT_CODE 
	    AND L.LESSON_INFO_CODE = SL.LESSON_INFO_CODE
	    GROUP BY L.SUBJECT_CODE, STUDENT_YEAR
	
	</select>
	
	
	
	
	
	<!-- 전체 학생 수 조회  -->

	
</mapper>
























