<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="statisticsMapper">
	
	<!-- 학년별 학생 수 조회 -->
	<resultMap type="kh.study.academy.statistics.vo.StudentCntPerGrade" 		id="studentCntPerGrade">
		<id column="STUDENT_YEAR"												property="studentYear"/>
		<result column="STUDENT_CNT" 											property="studentCnt"/>
	</resultMap>
	
	<!-- 과목별 학생 수 조회 -->
	<resultMap type="kh.study.academy.statistics.vo.StudentCntPerSubject" 		id="studentCntPerSubject">
		<id column="STUDENT_YEAR"												property="studentYear"/>
		<result column="STUDENT_CNT" 											property="studentCnt"/>
		<result column="SUBJECT_NAME" 											property="subjectName"/>
	</resultMap>
	
	
	<!-- 전체 학생 수 조회  -->
	<resultMap type="kh.study.academy.statistics.vo.StudentTotalCntByMonth" 	id="studentTotalCntByMonth">
		<id column="STUDENT_YEAR"												property="studentYear"/>
		<result column="STUDENT_CNT" 											property="studentCnt"/>
		<result column="MONTH" 													property="month"/>
	</resultMap>
	
	<!-- 교사별 담당 학생 수 -->
	<resultMap type="kh.study.academy.statistics.vo.StudentCntByTeacher" 	id="studentCntByTeacher">
		<id column="teacherName"												property="teacherName"/>
		<result column="STUDENT_CNT" 											property="studentCnt"/>
	</resultMap>

	
	<!-- 학년별 학생 수 조회 -->
	<select id="selectNumByStuYear" resultMap="studentCntPerGrade">
		SELECT STUDENT_YEAR||'학년' AS STUDENT_YEAR
			,COUNT(STUDENT_CODE) AS STUDENT_CNT
		FROM STUDENT
        GROUP BY STUDENT_YEAR
	
	</select>
	
	
	<!-- 과목별 학생 수 조회 -->
	<!-- 나오는 값이 숫자라서  resultType 이 int -->
	<select id="selectNumByStuSubject" resultType="int">
<!-- 		SELECT STUDENT_YEAR
	    ,(SELECT SUBJECT_NAME
	               FROM SUBJECT
	               WHERE SUBJECT_CODE = L.SUBJECT_CODE) AS SUBJECT_NAME
	        
	        , COUNT(*) AS STUDENT_CNT
	        FROM LESSON_INFO L, STUDENT_LESSON_INFO SL, STUDENT S
	        WHERE S.STUDENT_CODE = SL.STUDENT_CODE 
	    AND L.LESSON_INFO_CODE = SL.LESSON_INFO_CODE
	    GROUP BY L.SUBJECT_CODE, STUDENT_YEAR -->
	
		 SELECT COUNT(STU.STUDENT_CODE)
	        FROM STUDENT_LESSON_INFO SLI, LESSON_INFO LI, STUDENT STU
	        WHERE SLI.LESSON_INFO_CODE = LI.LESSON_INFO_CODE
	        AND STU.STUDENT_CODE = SLI.STUDENT_CODE
	        AND SUBJECT_CODE = #{subjectCode}
	        AND STUDENT_YEAR = 1
	    UNION ALL
	     SELECT COUNT(STU.STUDENT_CODE)
	        FROM STUDENT_LESSON_INFO SLI, LESSON_INFO LI, STUDENT STU
	        WHERE SLI.LESSON_INFO_CODE = LI.LESSON_INFO_CODE
	        AND STU.STUDENT_CODE = SLI.STUDENT_CODE
	        AND SUBJECT_CODE = #{subjectCode}
	        AND STUDENT_YEAR = 2
	    UNION ALL
	     SELECT COUNT(STU.STUDENT_CODE)
	        FROM STUDENT_LESSON_INFO SLI, LESSON_INFO LI, STUDENT STU
	        WHERE SLI.LESSON_INFO_CODE = LI.LESSON_INFO_CODE
	        AND STU.STUDENT_CODE = SLI.STUDENT_CODE
	        AND SUBJECT_CODE = #{subjectCode}
	        AND STUDENT_YEAR = 3
	
	</select>
	
	
	
	
	
	<!-- 전체 학생 수 조회  -->
	<select id="selectStuTotalCntByMonth" resultMap="studentTotalCntByMonth">
	
	
	
	
	</select>
	
	
	
	
	<!-- 교사별 담당 학생 수 -->
	<select id="selectStudentCntByTeacher" resultType="int">
		SELECT COUNT(STU.STUDENT_CODE)
        FROM STUDENT_LESSON_INFO SLI, LESSON_INFO LI, STUDENT STU
        WHERE SLI.LESSON_INFO_CODE = LI.LESSON_INFO_CODE
        AND STU.STUDENT_CODE = SLI.STUDENT_CODE
        AND TEACHER_CODE = #{teacherCode}
	
	</select>
	
	
	
	
	
	
</mapper>
























