<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="statisticsMapper">
	
	<!-- ① 학생현황 통계ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
		
		<!-- ⓐ 학년별 학생 수 -->
		<resultMap type="kh.study.academy.statistics.vo.StudentCntPerGrade" 		id="studentCntPerGrade">
			<id column="STUDENT_YEAR"												property="studentYear"/>
			<result column="STUDENT_CNT" 											property="studentCnt"/>
		</resultMap>
		
		<!-- ⓑ 과목별 학생 수 -->
		<resultMap type="kh.study.academy.statistics.vo.StudentCntPerSubject" 		id="studentCntPerSubject">
			<id column="STUDENT_YEAR"												property="studentYear"/>
			<result column="STUDENT_CNT" 											property="studentCnt"/>
			<result column="SUBJECT_NAME" 											property="subjectName"/>
		</resultMap>
		
		<!-- ⓒ 월별 신규 학생 수  -->
		<resultMap type="kh.study.academy.statistics.vo.NewStudentCntByMonth" 	id="newStudentCntByMonth">
			<result column="STUDENT_CNT" 											property="studentCnt"/>
			<result column="MM" 													property="mm"/>
		</resultMap>
		
	<!-- ② 평가관리 분석 통계ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
		
		<!-- ⓐ 분기별 과목 테스트 평균 -->
		<resultMap type="kh.study.academy.statistics.vo.QuarterlySubTestAvg" 		id="quarterlySubTestAvg">
			<id column="TEST_DATE"													property="testDate"/>
			<result column="SUBJECT_CODE" 											property="subjectCode"/>
			<result column="SUBJECT_NAME" 											property="subjectName"/>
			<result column="SCORE_AVG" 												property="scoreAvg"/>
			<result column="STUDENT_YEAR" 											property="studentYear"/>
		</resultMap>
	
	<!-- ③ 교사별 수업현황 통계ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
		
		<!-- ⓐ 교사별 프로그램 수 -->
		<resultMap type="kh.study.academy.statistics.vo.LessonCntByTeacher" 		id="lessonCntByTeacher">
			<id column="teacherName"												property="teacherName"/>
			<result column="LESSON_CNT" 											property="lessonCnt"/>
		</resultMap>
		
		<!-- ⓑ 교사별 담당 학생 수  -->
		<resultMap type="kh.study.academy.statistics.vo.StudentCntByTeacher" 		id="studentCntByTeacher">
			<id column="teacherName"												property="teacherName"/>
			<result column="STUDENT_CNT" 											property="studentCnt"/>
		</resultMap>

	
	<!-- 학년별 학생 수 조회 -->
	<select id="selectNumByStuYear" resultMap="studentCntPerGrade">
		SELECT STUDENT_YEAR||'학년' AS STUDENT_YEAR
			,COUNT(STUDENT_CODE) AS STUDENT_CNT
		FROM STUDENT
		WHERE STUDENT_STATUS = 'Y'
        GROUP BY STUDENT_YEAR
	
	</select>
	
	
	<!-- 과목별 학생 수 조회 -->
	<!-- 나오는 값이 숫자라서  resultType 이 int -->
	<select id="selectNumByStuSubject" resultType="int">

		 SELECT COUNT(STU.STUDENT_CODE)
	        FROM STUDENT_LESSON_INFO SLI, LESSON_INFO LI, STUDENT STU
	        WHERE SLI.LESSON_INFO_CODE = LI.LESSON_INFO_CODE
	        AND STUDENT_STATUS = 'Y'
	        AND STU.STUDENT_CODE = SLI.STUDENT_CODE
	        AND SUBJECT_CODE = #{subjectCode}
	        AND STUDENT_YEAR = 1
	    UNION ALL
	     SELECT COUNT(STU.STUDENT_CODE)
	        FROM STUDENT_LESSON_INFO SLI, LESSON_INFO LI, STUDENT STU
	        WHERE SLI.LESSON_INFO_CODE = LI.LESSON_INFO_CODE
	        AND STUDENT_STATUS = 'Y'
	        AND STU.STUDENT_CODE = SLI.STUDENT_CODE
	        AND SUBJECT_CODE = #{subjectCode}
	        AND STUDENT_YEAR = 2
	    UNION ALL
	     SELECT COUNT(STU.STUDENT_CODE)
	        FROM STUDENT_LESSON_INFO SLI, LESSON_INFO LI, STUDENT STU
	        WHERE SLI.LESSON_INFO_CODE = LI.LESSON_INFO_CODE
	        AND STUDENT_STATUS = 'Y'
	        AND STU.STUDENT_CODE = SLI.STUDENT_CODE
	        AND SUBJECT_CODE = #{subjectCode}
	        AND STUDENT_YEAR = 3
	
	</select>
	
	
	<!-- 월별 신규 학생 수 조회-->
	<select id="selectNewStuCntByMonth" resultMap="newStudentCntByMonth">
	
		SELECT COUNT(STU.STUDENT_CODE) AS STUDENT_CNT
		    , TO_CHAR(REG_DATE, 'MM') AS MM
		FROM STUDENT_LESSON_INFO SLI, LESSON_INFO LI, STUDENT STU
		WHERE SLI.LESSON_INFO_CODE = LI.LESSON_INFO_CODE
		AND STU.STUDENT_CODE = SLI.STUDENT_CODE
		GROUP BY TO_CHAR(REG_DATE, 'MM')
		ORDER BY MM
	
	</select>
	
		
	<!-- 분기별 과목 테스트 평균 차트를 위한 테스트 조회 -->
	<select id="selectLessonScore" resultMap="testMapper.test">
		SELECT TEST_CODE
			, TO_CHAR(TEST_DATE,'YYYY-MM-DD') AS TEST_DATE
			, SUBJECT_CODE
			, (SELECT SUBJECT_NAME FROM SUBJECT WHERE SUBJECT_CODE = T.SUBJECT_CODE) AS SUBJECT_NAME
		FROM TEST T
	</select>
	
	
	
	
	<!-- 분기별 과목 테스트 평균 -->
	<!-- (분기별(4개...) + 과목별(2개...) + 학년별(3개...) 점수)_의 평균 -->
 	<select id="selectQuarterlySubTestAvg" resultMap="quarterlySubTestAvg">
		SELECT SUBJECT_CODE
		    , (SELECT SUBJECT_NAME
		        FROM SUBJECT
		        WHERE SUBJECT_CODE = T.SUBJECT_CODE) AS SUBJECT_NAME
		    , STUDENT_YEAR    
		    , TO_CHAR(TEST_DATE,'YYYY-MM-DD') AS TEST_DATE
		    , ROUND(AVG(SCORE),2) AS SCORE_AVG
		FROM TEST T, STUDENT S
		WHERE T.STUDENT_CODE = S.STUDENT_CODE
		GROUP BY SUBJECT_CODE, STUDENT_YEAR, TEST_DATE
		ORDER BY TEST_DATE
	</select>
	
	
	
	<!-- 교사별 프로그램 수 -->
	<select id="selectLessonCntByTeacher" resultType="int">
		SELECT COUNT(TEACHER_CODE)
		FROM LESSON_INFO
		WHERE TEACHER_CODE= #{teacherCode}
	</select>
	
	
	
	<!-- 교사별 담당 학생 수 -->
	<select id="selectStudentCntByTeacher" resultType="int">
		SELECT COUNT(STU.STUDENT_CODE)
        FROM STUDENT_LESSON_INFO SLI, LESSON_INFO LI, STUDENT STU
        WHERE SLI.LESSON_INFO_CODE = LI.LESSON_INFO_CODE
        AND STU.STUDENT_CODE = SLI.STUDENT_CODE
        AND TEACHER_CODE = #{teacherCode}
	
	</select>
	
	
	
	
	
	
</mapper>
























