<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="testMapper">


	<resultMap type="kh.study.academy.test.vo.TestVO"			id="test">
		<id column="TEST_CODE" 									property="testCode" />
		<result column="TEST_DATE" 								property="testDate" />
		<result column="SCORE" 									property="score" />
		
		
		<!-- 아래 칼럼 수정 필요 -->
		<result column="LESSON_INFO_CODE" 						property="lessonInfoCode" />
		<result column="STUDENT_CODE" 							property="studentCode" />
	</resultMap>

	
	
	
	<!-- 점수 등록 -->
	<!-- 수정 중임..!!!!!  -->
	<insert id="regScore">
		<selectKey resultType="String" keyProperty="testCode" order="BEFORE">
	         SELECT 'TEST_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(TEST_CODE, 5))), 0) + 1, 3, 0) 
	         FROM TEST
	     </selectKey>
	INSERT INTO TEST (
		TEST_CODE
		, TEST_DATE
		, SCORE
	) VALUES(
		#{testCode}
		, #{testDate}
		, #{score}
	)
	</insert>

	
	
	
	<!-- 해당 학생의 점수 조회 -->
	<!--LESSON_INFO_CODE 수정필요  -->
	<!--where 검토 필요-->
	<select id="selectStuScore" resultMap="test">
		SELECT TEST_CODE
			, TEST_DATE
			, SCORE
			, STUDENT_CODE
			, LESSON_INFO_CODE
		FROM TEST
		WHERE STUDENT_CODE = #{studentCode}
	</select>
	
	
	
	
	<!-- 통계(반별 테스트 평균점수를 차트화) -->
	<!-- 검토필요 -->
	<select id="selectLessonScore" resultMap="test">
		SELECT TEST_CODE
			, TEST_DATE
			, SCORE
			, STUDENT_CODE
			, LESSON_INFO_CODE
		FROM TEST
		WHERE LESSON_INFO_CODE = #{lessonInfoCode}
	</select>
	
	
	
	
	
	
	<!-- 점수 수정  -->
	<update id="updateScore">
		UPDATE TEST
		SET
		SCORE = #{score}
		WHERE TEST_CODE = #{testCode}
	</update>
	
	
	<!-- 점수 삭제 -->
	<delete id="deleteScore">
		DELETE TEST
		WHERE TEST_CODE = #{testCode}
	</delete>


	
</mapper>
























