<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
<head>
	<!-- <link href="/fullcalendar/main.css" rel="stylesheet" />
	   
	<!-- fullcalendar CDN -->
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css">
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
	<!-- fullcalendar 언어 CDN -->
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/locales-all.min.js"></script>
	<!--위치 중요함 제일 마지막-->
	<link href="/css/common.css" rel="stylesheet">
	 


</head>

<div layout:fragment="content" style="padding:40px;">

	주별 시간표
	<!-- 캘린더 라이브러리 사용시 추가해야하는 코드 -->
	<div id='calendar'></div>
	
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">해당 학급 수강생 목록</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col">
        		<div id="modalContent"> </div>
        	</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
	
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script> 
	<script type="text/javascript" th:src="@{/js/lesson/lesson_list.js}"></script>  
	
</div>

</html>