<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">


<div layout:fragment="content">
  
  
		                <main>
		                    <div class="container-fluid px-4">
		                        <h1 class="mt-4">Static Navigation</h1>
		                        <ol class="breadcrumb mb-4">
		                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
		                            <li class="breadcrumb-item active">Static Navigation</li>
		                        </ol>
		                        <div class="card mb-4">
		                            <div class="card-body">
		                                <p class="mb-0">
		                                    This page is an example of using static navigation. By removing the
		                                    <code>.sb-nav-fixed</code>
		                                    class from the
		                                    <code>body</code>
		                                    , the top navigation and side navigation will become static on scroll. Scroll down this page to see an example.
		                                </p>
		                            </div>
		                        </div>
		                        <div style="height: 100vh"></div>
		                    </div>
		                </main>
		                
		                <div>
						  <canvas id="myChart" width="100" height="100"></canvas>
						</div>
		                




<!-- javascript 경로 확인  -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" th:src="@{/js/lesson/lesson_main.js}"></script>                
		                
</div>




</html>