<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">


<div layout:fragment="content">
  						<!-- 회원가입을 진행 한 후 올 경우 -->
  						<input type="hidden" id="isNew" th:value="${isNew}">
  						
  						
		                <main >
		                	<div class="row col-12">
		                		<div class="col-11"> 
				                	<div class="card text-bg-dark mx-auto mb-5" style="max-width: 70%; max-height: 20%;">
									  <img th:src="@{/images/}+nothinghehe.jpg" class="card-img" alt="..." >
									  <div class="card-img-overlay text-center">
									    <h5 class="card-title">Welcome!</h5>
									    <p class="card-text"></p>
									    <p class="card-text"><small></small></p>
									  </div>
									</div>
		                		</div>
			                	<div class="col-1 text-end">
			                		<div class="chat-e_webchat_button_wrapper right responsive">
			                			<button onclick="potatoChat();" class="chat-e_webchat_button" title="챗봇 열기 버튼" style="background-color: rgb(47, 110, 141); border-radius: 50%;">
				                			<img class="rounded" th:src="|@{/images/logopotato.png}|" style="width: 90px; height: 90px;">
			                			</button>
			                		</div>
			                		<div class="chat-e_webchat_hidden right"></div>
			                	</div>
		                	</div>
		         
		         
		         
		         <div class="floating_item _floating text-end">
				      <a href="#" class="link_item top_item _btnFloating" data-type="top">
				      <img class="scrollToTop" th:src="|@{/images/arrow-up-circle.svg}|" style="width: 60px; height: 60px;">
				        <!-- <span class="icon icon_top"></span><span class="text blind">top</span> -->
				      </a>
				  </div>
		         
		         
		         
		         
		                
		                
		                
		                 <!--    <div class="container-fluid px-4">
		                        <h1 class="mt-4">Static Navigation</h1>
		                        <ol class="breadcrumb mb-4">
		                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
		                            <li class="breadcrumb-item active">Static Navigation</li>
		                        </ol>
		                        <div class="card mb-4">
		                            <div class="card-body">
		                                <p class="mb-0">
		                                    This page is an example of using static navigation. By removing the
		                                    <code>.sb-nav-fixed</code>
		                                    class from the
		                                    <code>body</code>
		                                    , the top navigation and side navigation will become static on scroll. Scroll down this page to see an example.
		                                </p>
		                            </div>
		                        </div>
		                        
		                    </div> -->
		                </main>

<div class="row col-12">
<div class ="col-xl-6">
	<div class="type01">
		<h4 class="main-inner-title">공지사항</h4>
		<div th:each="notice :${noticeList}">
			<ul>
				<li>
					<div class="mini-title-box" >
						<a th:href="@{/board/noticeDetail(boardNum=${notice.boardNum})}"
							title="자세히 보기"> 
							<span class="mini-title"> [[${notice.boardTitle}]]</span>
						</a>
					</div>
				</li>

			</ul>


		</div>
		<a href="/board/noticeList" title="자세히 보기" class="mini-more">MORE</a>
	</div>
</div>


<div class ="col-xl-6">
	<div class="type01">
		<h4 class="main-inner-title">자유게시판 BEST</h4>
		<div th:each="free :${freeList}">
			<ul>
				<li>
					<div class="mini-title-box" >
						<a th:href="@{/board/freeDetail(boardNum=${free.boardNum})}"
							title="자세히 보기"> 
							<span class="mini-title"> [[${free.boardTitle}]]</span>
						</a>
					</div>
				</li>

			</ul>


		</div>
		<a href="/board/freeList" title="자세히 보기" class="mini-more">MORE</a>
	</div>
</div>
	
</div>
	<br><br>
		                
		                
		                
		                <div class="row mb-4">
		                	<div class ="col-xl-6">
		                	
	                                <div class="card mb-4 border-dark">
	                                    <div class="card-header">
	                                        <svg class="svg-inline--fa fa-chart-area me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M64 400C64 408.8 71.16 416 80 416H480C497.7 416 512 430.3 512 448C512 465.7 497.7 480 480 480H80C35.82 480 0 444.2 0 400V64C0 46.33 14.33 32 32 32C49.67 32 64 46.33 64 64V400zM128 320V236C128 228.3 130.8 220.8 135.9 214.1L215.3 124.2C228.3 109.4 251.4 109.7 263.1 124.8L303.2 171.8C312.2 182.7 328.6 183.4 338.6 173.4L359.6 152.4C372.7 139.3 394.4 140.1 406.5 154.2L472.3 231C477.3 236.8 480 244.2 480 251.8V320C480 337.7 465.7 352 448 352H159.1C142.3 352 127.1 337.7 127.1 320L128 320z"></path></svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
	                                        Area Chart Example
	                                    </div>
	                                    <div class="card-body">
	                                    	<div class="chartjs-size-monitor">
	                                    		<div class="chartjs-size-monitor-expand">
	                                    			<div class="">
	                                    			</div>
	                                    		</div>
                                    			<div class="chartjs-size-monitor-shrink">
                                    				<div class="">
                                    				</div>
                                    			</div>
                                   			</div>
                                   		
										  <canvas id="myChart" width="80" height="80" style="display: block; height: 50px; width: 100px;" class="chartjs-render-monitor"></canvas>
                                   		</div>
	                                </div>
	                            
		                	</div>
		                	<div class ="col-xl-6">
		                		 
		                		 <div class="card mb-4 border-dark">
	                                    <div class="card-header">
	                                        <svg class="svg-inline--fa fa-chart-area me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M64 400C64 408.8 71.16 416 80 416H480C497.7 416 512 430.3 512 448C512 465.7 497.7 480 480 480H80C35.82 480 0 444.2 0 400V64C0 46.33 14.33 32 32 32C49.67 32 64 46.33 64 64V400zM128 320V236C128 228.3 130.8 220.8 135.9 214.1L215.3 124.2C228.3 109.4 251.4 109.7 263.1 124.8L303.2 171.8C312.2 182.7 328.6 183.4 338.6 173.4L359.6 152.4C372.7 139.3 394.4 140.1 406.5 154.2L472.3 231C477.3 236.8 480 244.2 480 251.8V320C480 337.7 465.7 352 448 352H159.1C142.3 352 127.1 337.7 127.1 320L128 320z"></path></svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
	                                        두번째 차트
	                                    </div>
	                                    <div class="card-body">
	                                    	<div class="chartjs-size-monitor">
	                                    		<div class="chartjs-size-monitor-expand">
	                                    			<div class="">
	                                    			</div>
	                                    		</div>
                                    			<div class="chartjs-size-monitor-shrink">
                                    				<div class="">
                                    				</div>
                                    			</div>
                                   			</div>
                                   		
										  <!-- <canvas id="myChart" width="100" height="100" style="display: block; height: 288px; width: 722px;" class="chartjs-render-monitor"></canvas> -->
                                   		</div>
                                </div>
		                	</div>
						</div>
		                








	<!-- 신규 회원 가입 후 메인페이지로 왔을 때 Modal -->
<!-- 	<div class="modal fade" id="idDouble_Yes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <form class="row g-3" action="/" method="post">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel"> 
	        	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart fs-5" viewBox="0 0 16 16">
				  <path fill-rule="evenodd" d="m8 2.42-.717-.737c-1.13-1.161-3.243-.777-4.01.72-.35.685-.451 1.707.236 3.062C4.16 6.753 5.52 8.32 8 10.042c2.479-1.723 3.839-3.29 4.491-4.577.687-1.355.587-2.377.236-3.061-.767-1.498-2.88-1.882-4.01-.721L8 2.42Zm-.49 8.5c-10.78-7.44-3-13.155.359-10.063.045.041.089.084.132.129.043-.045.087-.088.132-.129 3.36-3.092 11.137 2.624.357 10.063l.235.468a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3.177 3.177 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.235-.468ZM6.013 2.06c-.649-.18-1.483.083-1.85.798-.131.258-.245.689-.08 1.335.063.244.414.198.487-.043.21-.697.627-1.447 1.359-1.692.217-.073.304-.337.084-.398Z"/>
				</svg>
	        환영합니다.</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body text-center">
	       	<div class="mb-1">
	       		회원가입이 성공적으로 이루어 졌습니다.
			</div>
	       	<div class="mb-1">
	       		로그인 페이지로 이동하시겠습니까?
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
	      </div>
     	 </form>
	    </div>
	  </div>
	</div> 
 -->













<!-- javascript 경로 확인  -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" th:src="@{/js/lesson/lesson_main.js}"></script>                
		                
</div>




</html>