<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}"> 
	
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{}">
</th:block>

<div layout:fragment="content">

<div style="display: none;">
		<form th:action="@{/board/updateNoticeDetailFrom}" method="post">
			<input type="button" id="updateButton"  name ="boardNum" th:onclick="imgloding([[${boardNum}]]);" th:value="${boardNum}">
		</form>
</div>




	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script> 
	<!-- jquery 문법 로딩 -->
	<!--순서 잘 맞춰서 적어야 함  -->
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" th:src="@{/js/board/board_notice_loding.js}"></script>

</div>


</html>
