<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}"> 
	

<div layout:fragment="content">
<style>
   .right{
      float: right;
   }
</style> 
<div class="panel">
			<div class="panel-hdr" style="margin-bottom: 20px; font-size: 16px;">
				공지사항<span class="fw-300"></span>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<div class="subheader pb-6" style="margin-bottom: 20px;" th:each="notice : ${notice}">
						<h3 class="subheader-title"  >
							[[${notice.boardTitle}]] <i class="subheader-icon"></i>
						</h3>
							<div style="font-size: 18px;">
								등록일 : [[${notice.createDate}]] 조회수 : [[${notice.viewCount}]] 작성자 : 
								<a href="javascript:" onclick="showEmployPopup('/common/popup/employ/detail/CE221000035', '교직원정보');">[[${notice.teacherId}]]</a>
								
							</div>
							
							<form th:action="@{/board/deleteNoticeDetail}" method="post" id="deleteStuForm">  
					             <th:block th:each="free : ${free}">
					             <input type="hidden" name="boardNum"  th:value="${free.boardNum}">  
					             </th:block>
					               <div class="row justify-content-end">
					                  <div class="col-2"  style="margin-right:4.8rem; ">
					                        <button type="submit" class="btn btn-warning flex-end" >삭제</button>
					                  </div>
					               </div>
					         </form> 
					             <form th:action="@{/board/updateNoticeDetailFrom}" method="post" id="updateStuForm">  <!-- 폼태그 안에 input가 있어야 데이터를 가져간다.  -->
					             <th:block th:each="notice : ${notice}">
					             <input type="hidden" name="boardNum"  th:value="${notice.boardNum}"> <!--  submit누르면 데이터 안보이게 데이터 가져갈꺼다.  내가 체크한 체크박스들을 이 input태그의 value값을   -->
					             </th:block>
					               <div class="row justify-content-end">
					                  <div class="col-2"  style="margin-right:4.8rem; ">
					                        <button type="submit" class="btn btn-warning flex-end" >수정</button>
					                  </div>
					               </div>
					             </form>
							

							
					</div>
					<div class="subheader pb-6 border-bottom" style="margin-bottom: 10px;"></div>
						<div th:each="notice : ${notice}">
							<div  id="preview" class="fr-view" style="margin-bottom: 20px;">[[${notice.boardContent}]]</div>
						</div>
						<div th:if="${notice.imgList[0].storedFileName == null}">
						</div>
						<div th:unless="${notice.imgList[0].storedFileName == null}">
							<div class="col-3" th:each="notice : ${notice.imgList}">
								<div class="card" >
								  <img style="width: 18rem; height: 25rem;" th:src="|@{/images/board/}${notice.storedFileName}|" class="card-img-top" alt="...">
								  <div class="card-body">
								  </div>
								</div>
							</div> 
						</div>
				</div>

				<div class="panel-content rounded-bottom border-faded border-0 text-right pr-0 pt-2 " style="margin-bottom: 100px;">
					<div class="col-lg-12 text-center pb-6" style="margin-bottom: 30px;">
						
						<button th:onclick="|location.href='@{/board/noticeList}'|" type="button" id="btnHistoryBack" class="btn btn-success waves-effect waves-themed"><span class="fal fa-repeat mr-1"></span>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
  <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
  <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
</svg>목록
						</button>
						&nbsp;&nbsp;
						<span sec:authorize="isAuthenticated()" class="col-12">
							<th:block th:if="${likeCheck == 0}"> 
								<span class="text-center" id="likeDiv" th:each="notice : ${notice}">
									<button th:onclick="likeAjax([[${notice.boardNum}]]);" id="likeButton" style="height: 45px; width: 80px;" class="btn btn-outline-light">
										<img class="rounded" id="likeimg" th:src="|@{/images/like/suit-heart.svg}|" width="60px" height="60px" style="width: 50px; height: 40px;">
									</button>
								</span>
							</th:block>
							
							<th:block th:unless="${likeCheck == 0}">
								<span class="text-center" id="likeDiv" th:each="notice : ${notice}">
									<button th:onclick="likeAjax([[${notice.boardNum}]]);" id="likeButton" style="height: 45px; width: 80px;" class="btn btn-outline-light">
										<img class="rounded" id="likeimg" th:src="|@{/images/like/suit-heart-fill.svg}|" width="60px" height="60px" style="width: 50px; height: 40px;">
									</button>
								</span>
							</th:block>
 						</span>
						
						
					</div>
					<div class="col-lg-12 text-center pb-6 border-bottom" ></div>
				</div>

	
	
				<div class="panel-content">
					<div class="frame-wrap">
						<form th:action="@{/reply/writeNoticeReply}" method="post" class="form-horizontal needs-validation" id="frmBoardContentsComment"  novalidate="novalidate">
							<input type="hidden" id="cmpCd" name="cmpCd" value="ABA">
							<input type="hidden" id="contSq" name="contSq" value="1200928221118726751">
							<input type="hidden" name="boardNum" th:value="${notice.boardNum}"> 

							<fieldset class="w-100">
								<div class="form-group input-group mb-1">
									<div id="froala-editor" class="col-12 col-lg-11 px-1 rounded-0">
										<textarea name="replyContent" class="form-control" rows="5"></textarea>
										<span id="counter" class="text-muted">(0 / 최대 500자)</span>
									</div>
									<div class="col-12 col-lg-1">
										<div>&nbsp;</div>
										<button type="submit" id="btnContentsCommentSave" class="btn btn-outline-secondary w-100 h-50 "><span class="fal fa-save"></span>
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-all" viewBox="0 0 16 16">
  <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
  <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z"/>
</svg>
										</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			<div class="panel-content">
				<div id="tblBoardContentsComment_wrapper"
					class="dataTables_wrapper dt-bootstrap4 no-footer">
					<table id="tblBoardContentsComment"
						class="table w-100 dataTable no-footer dtr-inline" role="grid"
						style="width: 1582px;">
						<thead>
							<tr role="row">
								<th class="sorting_disabled" rowspan="1" colspan="1"
									style="width: 1559.5px;">댓글</th>
							</tr>
						</thead>
						<tbody>
							<tr role="row" class="odd" th:each="reply : ${replyList}">
								<td tabindex="0"><div id="1200926170807851778">
										<div class="mb-2">
											<strong class="text-muted"><a href="javascript:"onclick="showEmployPopup('/common/popup/employ/detail/AE170600020', '교직원정보');">[[${reply.teacherId}]]</a></strong><span
												class="ml-2 text-muted">&nbsp;&nbsp;&nbsp;&nbsp;[[${reply.replyCreateDate}]]</span>
										</div>
										<div>
											<h5>[[${reply.replyContent}]]
												
													<span class="right" th:if= "${reply.teacherId == #authentication.name or #strings.contains(#authentication.authorities, 'ROLE_ADMIN')}">
	                                                	<button th:onclick="|location.href='@{/reply/noticeDelete(replyNum=${reply.replyNum}, boardNum=${notice.boardNum})}'|" type="button" class="btn btn-danger btn-sm flex-end" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
</svg></button>
	                                             	</span>
	                                           
											</h5>
											<h5></h5>
										</div>
									</div>
									
								</td>
							</tr>
							
						</tbody>
					</table>
					
				</div>
			</div>


		</div>
		</div>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>   
<script type="text/javascript" th:src="@{/js/board/notice_detail.js}"></script>	

</div>
</html>