<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}"> 


<div layout:fragment="content">


<main id="js-page-content" role="main" class="page-content" style="padding-bottom:0px;">


<div class="row">
	<div class="col-lg-12">
		<div class="panel">
			<div class="panel-hdr" style="margin-bottom: 20px; font-size: 30px;">
				<h2>자유게시판<span class="fw-300"></span></h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
							
				  <form th:action="@{/board/updateFreeDetail}" method="post" id="updateStuForm"> 
					<div class="form-group input-group mb-3 px-0">
						<div class="col-1 px-0" style="text-align: center; font-size: 26px; ">제목</div>
							<div class="subheader pb-6"   th:each="free : ${free}">
							     <input type="text" id="boardTitle" name="boardTitle" th:value="${free.boardTitle}" class="form-control rounded-0" style="width:1000px; height:50px; font-size: 20px;" >
								 
							</div>
					</div>
		
					<div>
						<div style="font-size: 18px; margin: 1.5em; " >
							등록일 : [[${free.createDate}]] 조회수 : [[${free.viewCount}]] 작성자 : 
							<a href="javascript:" onclick="showEmployPopup('/common/popup/employ/detail/CE221000035', '교직원정보');">[[${free.teacherId}]]</a>
							
						</div>
					</div>
					
					<div class="subheader pb-6 border-bottom" style="margin: 30px;"></div>
					<div class="form-group input-group mb-1">
						<div class="col-1 px-0" style="text-align: center; font-size: 26px; ">내용</div>
						<div class="subheader pb-6"   th:each="free : ${free}">
						 <textarea class="form-control rounded-0" id="boardContent"  style="width:1000px; height:500px; font-size: 18px;"  name="boardContent" >[[${free.boardContent}]]</textarea>
						</div>
					</div>	

					<div class="subheader pb-6 border-bottom" style="margin: 40px;"></div>
					
					<div class="col-3" style="margin: 1em;" >
					  <label  for="exampleFormControlTextarea1" class="form-label" ></label>
						<input multiple type="file" class="form-control" id="exampleFormControlInput1" name="imgs">
					</div>
					
					<dl class="table_name" style="margin: 30px; font-size: 20px;">
					
						<dt>파&nbsp;&nbsp;&nbsp;일</dt>
						<dd  th:each="free : ${free.imgList}"><span class="col-3 mb-2"><em><a href="" title="" th:text="${free.storedFileName}">성명000_취업지원 신청서.hwp</a>
						</em></span>
							<button th:onclik="|location.href='@{/board/deleteBoardImgUpdateFree}'|"  type="button" class=" btn-sm flex-end" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
								<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
							</svg>
							</button>
						</dd>
					</dl>
						
							
							<!-- <span class="right" th:if= "${reply.teacherId == #authentication.name or #strings.contains(#authentication.authorities, 'ROLE_ADMIN')}">
								
							</span> -->
					
					
					
					
					
					
					
					
			           <!-- 폼태그 안에 input가 있어야 데이터를 가져간다.  -->
			            <th:block th:each="free : ${free}">
			            	 <input type="hidden" name="boardNum"  th:value="${free.boardNum}"> <!--  submit누르면 데이터 안보이게 데이터 가져갈꺼다.  내가 체크한 체크박스들을 이 input태그의 value값을   -->
			              </th:block>
			               <div class="row justify-content-end">
			                  <div class="col-2"  style="margin-right:4.8rem; ">
			                        <button type="submit"  class="btn btn-warning flex-end" >수정완료</button>
			                  </div>
			               </div>
			             </form>


						</div>

					 </div>
				  </div>
			   </div>
		</div>
</main>
</div>
	
				
				
				

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>   
<script type="text/javascript" th:src="@{/js/board/free_detail.js}"></script>					
<script type="text/javascript" th:src="@{/js/reply/reply.js}"></script>				



			
</html>