<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">


<div layout:fragment="content">


	<div class="row justify-content-center">
		<div class="col-6 ">
			<div style="text-align: center;">
				<h2>공 지 사 항</h2>
			</div>

			<form th:action="@{/board/writeNotice}" method="post"
				enctype="multipart/form-data">
				<div class="mb-3" style="margin-top: 40px;">
					<label for="exampleFormControlInput1" class="form-label">제목</label>
					<input type="text" class="form-control"
						id="exampleFormControlInput1" placeholder="제목을 입력하세요"
						name="boardTitle">
				</div>


				<div class="mb-3">
					<label for="exampleFormControlTextarea1" class="form-label">내용</label>
					<textarea name="boardContent" class="form-control"
						id="exampleFormControlTextarea1" rows="5" style="resize: none;"
						placeholder="내용을 입력하세요"></textarea>
				</div>

				<div class="mb-3">
					<label for="exampleFormControlTextarea1" class="form-label"></label>
					<input multiple type="file" class="form-control"
						aria-label="Username" aria-describedby="basic-addon1" name="imgs">
				</div>

				<div style="text-align: center;">
					<button type="submit" class="btn btn-primary">등록</button>
				</div>
			</form>

		</div>
	</div>

</div>
</html>