<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz.thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">
	
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{}">
</th:block>



<div layout:fragment="content">







	<div class="row mt-3">


		<!-- 교사별 프로그램 수 div -->
		<div class="col-6">
			<div class="card">
				<h5 class="card-header">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
						fill="currentColor" class="bi bi-bar-chart-line-fill"
						viewBox="0 0 16 16">
				  <path
							d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z" />
				</svg>
					교사별 프로그램 수
					
					<p class="card-text">
						<small class="tip">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
							  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
							</svg>
						 학급이 배정된 교사의 학급 프로그램 수를 비교하는 차트입니다
						 </small>
					</p>
					
				</h5>
				<div class="card-body">
					<!--차트 1가 그려질 부분-->
					<div id="chart1"></div>
				</div>
			</div>
		</div>
		
		<!-- 교사별 담당 학생 수 div-->
		<div class="col-6">
			<div class="card">
				<h5 class="card-header">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
						fill="currentColor" class="bi bi-bar-chart-line-fill"
						viewBox="0 0 16 16">
				  <path
							d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z" />
				</svg>
					교사별 담당 학생 수
					
					<p class="card-text">
						<small class="tip">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
							  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
							</svg>
						 교사별 현재 담당하고 있는 학생 수를 비교하는 차트입니다
						 </small>
					</p>
					
				</h5>
				<div class="card-body">
					<!--차트 2가 그려질 부분-->
					<div id="chart2"></div>
				</div>
			</div>
		</div>






	</div>







	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

	<!-- jquery 문법 로딩 -->
	<!--순서 잘 맞춰서 적어야 함  -->
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript"
		th:src="@{/js/statistics/classByTeacher.js}"></script>




</div>


</html>