<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz.thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">
	
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{}">
</th:block>



<div layout:fragment="content">

	<div class="info mt-3 mb-3">
		<h5>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
				fill="currentColor" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
		  		<path	d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z" />
			</svg>
			통계 자료
		</h5>
	</div>


	<div class="row mt-3">
		<div class="col-12">
			<div class="card">
				<h5 class="card-header">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-line-fill" viewBox="0 0 16 16">
				  <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z"/>
				</svg> 분기별 과목 테스트 평균
					<p class="card-text">
						<small class="tip"> <svg
								xmlns="http://www.w3.org/2000/svg" width="16" height="16"
								fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
							  <path
									d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
							</svg> 분기별 과목 테스트 평균을 학년별로 비교하는 차트입니다
						</small>
					</p>
				</h5>
				<div class="card-body">
					<!--차트가 그려질 부분-->
					<div id="chart2" class="p-3"></div>
					<div id="chart3" class="p-3"></div>
				</div>
			</div>
		</div>
	</div>




	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<!-- jquery 문법 로딩 -->
	<!--순서 잘 맞춰서 적어야 함  -->
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript"
		th:src="@{/js/statistics/testAnalysis.js}"></script>

</div>


</html>