<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/base_layout">

<div layout:fragment="content">

<div class="row">
	<div class="col-12" style="margin-top: 50px;">
		<table class="table table-striped text-center" style="margin-top: 20px;">
				<thead>
					<tr>
						<th scope="col">이름</th>
						<th scope="col">생일</th>
						<th scope="col">학년</th>
						<th scope="col">반</th>
						<th scope="col">담당T</th>
						<th scope="col">주소</th>
						<th scope="col">전화번호</th>
						<th scope="col">등록일</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>[[${stu.studentName}]]</td>
						<td>[[${stu.birthday}]]</td>
						<td>[[${stu.studentYear}]]학년</td>
						<td>
							<th:block th:each="lesson:${stu.studentLessonInfoList}">
								<th:block th:if="${lesson.lessonInfoVO==null}">
									<span style="color: red;">-</span>
								</th:block>
								<th:block th:unless="${lesson.lessonInfoVO==null}">
									[	[[${lesson.lessonInfoVO.subjectVO.subjectName}]]-[[${lesson.lessonInfoVO.stepVO.stepName}]]-[[${lesson.lessonInfoVO.year}]] ]
								</th:block>
							</th:block>
						</td>
						<td>
							<th:block th:each="lesson:${stu.studentLessonInfoList}">
								<th:block th:if="${lesson.lessonInfoVO==null}">
									<span style="color: red;">-</span>
								</th:block>
								<th:block th:unless="${lesson.lessonInfoVO==null}">
									[[${lesson.lessonInfoVO.teacherVO.teacherName}]]
								</th:block>
							</th:block>
						</td>
						<td>[[${stu.addr}]]</td>
						<td>[[${stu.studentTell}]]</td>
						<td>[[${stu.regDate}]]</td>
					</tr>
				</tbody>
		</table>
	
	
	<div class="d-grid gap-2 d-md-flex justify-content-md-center" style="margin-top: 25px;">
	 <button sec:authorize="isAuthenticated()" type="button" class="btn btn-warning btn-sm mt-0"  th:onclick="|location.href='@{/stu/updateStu(studentCode=${stu.studentCode})}'|">
   			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
			  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
			</svg>
   			수정
   		</button>
   		
   		<form th:action="@{/stu/deleteStu}" method="post"  id="deleteStuForm" >
			<input type="hidden" th:value="${stu.studentCode}" name="studentCode">
			
			<th:block th:each="lesson:${stu.studentLessonInfoList}">
				<th:block th:if="${lesson.lessonInfoVO!=null}">
					<input type="hidden" name="beforeLessonInfoCode" th:value="${lesson.lessonInfoVO.lessonInfoCode}">
				</th:block>
			</th:block>
			
			<button sec:authorize="isAuthenticated()" type="button" th:onclick="goDelete();" value="삭제" class="btn btn-danger btn-sm mt-0" >
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
			<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
				</svg>
				삭제
			</button>
		</form>
	</div>
	
	
	
	</div>
</div>





	

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>   
<script type="text/javascript" th:src="@{/js/student/detail_student.js}"></script>	
</div>
</html>