<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/base_layout">


<div layout:fragment="content">

	<div class="info mt-3">
		<h5>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
			  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
			</svg>
			학생 목록 
	 	</h5>
	</div>


	<div class="row">
		<div class="col-12" style="margin-top: 20px;" id="table_box_bootstrap">
			<div>
				총 <span th:text="${#lists.size(stuList)}" style="color:red"></span>명 입니다.
			</div>
			<table class="table table-striped text-center table-hover" style="margin-top: 20px;">
				<colgroup>
				</colgroup>
				<thead>
					<tr>
						<th scope="col"><input type="checkbox" id="checkAll" th:name="selectall" ></th>
						<th scope="col">NO</th>
						<th scope="col">이름</th>
						<th scope="col">학년</th>
						<th scope="col">성별</th>
						<th scope="col">반</th>
						<th scope="col">담당T</th>
						<th scope="col">수납여부</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:if="${#lists.size(stuList) == 0}">
						<tr>
							<td colspan="8">조회된 학생이 없습니다.</td>
						</tr>
					</th:block>
					<th:block th:unless="${#lists.size(stuList) == 0}">
						<tr th:each="stu, status : ${stuList}">
							<td class="checked_boxes"><input type="checkbox" class="form-check-input chk" th:value=${stu.studentCode} th:name="selectCount"></td>
							<td scope="row" th:text="${status.count}" th:name="stu"></td>
							<td><a class="sName" th:href="@{/stu/detail(studentCode=${stu.studentCode})}">[[${stu.studentName}]]</a></td>
							<td th:text="${stu.studentYear} + 학년"></td>
							<td th:text=${stu.studentGender} ></td>
							<td >
								<th:block th:each="lesson:${stu.studentLessonInfoList}">
									<th:block th:if="${lesson.lessonInfoVO==null}">
										<span style="color: red;">-</span>
									</th:block>
									<th:block th:unless="${lesson.lessonInfoVO==null}">
										[	[[${lesson.lessonInfoVO.subjectVO.subjectName}]]-[[${lesson.lessonInfoVO.stepVO.stepName}]]-[[${lesson.lessonInfoVO.year}]] ]
									<input class="lessonInfoCodeClass" type="hidden" th:value="${lesson.lessonInfoVO.lessonInfoCode}"> 
									</th:block>
								</th:block>
							</td>
							<td>
								<th:block th:each="lesson:${stu.studentLessonInfoList}">
									<th:block th:if="${lesson.lessonInfoVO==null}">
										<span style="color: red;">-</span>
									</th:block>
									<th:block th:unless="${lesson.lessonInfoVO==null}">
										[[${lesson.lessonInfoVO.teacherVO.teacherName}]]
									</th:block>
								</th:block>
							</td>
							<td>
								<th:block th:if="${stu.isPay == null}">
									<span style="color: red;">-</span>
								</th:block>
								<th:block th:unless="${stu.isPay == null}">
									<input type="radio" th:name="${status.count}" th:checked="${stu.isPay eq 'Y'}" th:onclick="changeIsPay([[${stu.paymentCode}]], 'Y');">Y
									<input type="radio" th:name="${status.count}" th:checked="${stu.isPay eq 'N'}" th:onclick="changeIsPay([[${stu.paymentCode}]], 'N');">N
								</th:block>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
			
			<form id="deleteStuForm" th:action="@{/stu/deleteCheckedStu}" method="post">
				<input type="hidden" name="studentCodes" value="" id="studentCodes">
				<input type="hidden" name="beforeLessonInfoCodes" value="" id="beforeLessonInfoCodes">
				<div class="col-12">
					<div class="row justify-content-end">
						<div class="col-1"  style="margin-right: 2.6rem;">
					   		<button sec:authorize="isAuthenticated()" type="button" th:onclick="goDelete();" class="btn btn-danger btn-sm form-control">
					   			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
								  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
								</svg>
								삭제
							</button>
						</div>
					</div>
				</div>
			</form>
			
		</div>
	</div>
	
	
<script th:src="@{/js/paginator.js}"></script>	
<script src="https://code.jquery.com/jquery-latest.min.js"></script>   
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" th:src="@{/js/student/student_list.js}"></script>	
</div>
</html>