<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz.thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">
<link href="/css/common.css" rel="stylesheet">
<!--위치 중요함 -->

</head>
<body>


	<div class="row mx-3 my-4">
		<div class="col">
			<div class="card mb-3 mx-auto" >
			  <div class="row g-0">
			    
			    <div class="col-md-12">
			      <div class="card-body">
			        <h3 class="card-title">학생 정보</h3>
			        <!-- <p class="card-text"></p> -->
			        <div class="card-text">
			        
						<div class="row mb-2 mt-3 align-items-center " >
				    		<div class="col-2 ms-3 bg-secondary p-2 bg-opacity-10">
					    		이름
				    		</div>
				    		<div class="col" th:text="${student.studentName}"></div>
				    		<div class="col-2 ms-3 bg-secondary p-2 bg-opacity-10">
					    		학년
				    		</div>
				    		<div class="col" th:text="${student.studentYear} + 학년"></div>
				    		<div class="col-2 ms-3 bg-secondary p-2 bg-opacity-10">
					    		성별
				    		</div>
				    		<div class="col" th:text=${student.studentGender}></div>
		    			</div>
		    			
						
		    			
			        </div>
			      </div>
			    </div>
			    
			  </div>
			</div>
			
			<div class="row">
				<div class="col">
					<div class="card mb-5 mx-auto" >
					 	<div class="card-body">
						    <h3 class="card-title"> 
						    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-node-minus-fill" viewBox="0 0 16 16">
							  <path fill-rule="evenodd" d="M16 8a5 5 0 0 1-9.975.5H4A1.5 1.5 0 0 1 2.5 10h-1A1.5 1.5 0 0 1 0 8.5v-1A1.5 1.5 0 0 1 1.5 6h1A1.5 1.5 0 0 1 4 7.5h2.025A5 5 0 0 1 16 8zm-2 0a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5A.5.5 0 0 0 14 8z"/>
							</svg>
						    
						    이동 전 수강정보</h3>
						    <div class="card-text">
						    	<h5>학급 정보</h5>
						    	<p class="card-text "><small class="text-muted">현재 수강중인 학급정보입니다.</small></p>
						    	
						    	<th:block th:if="${student.studentLessonInfoList[0].lessonInfoVO==null}">
									<tr>
										<td colspan="6" > <p class="fs-2">수강 중인 학급이 없습니다.</p></td>
									</tr>
								</th:block>
								
						    	<th:block th:unless="${student.studentLessonInfoList[0].lessonInfoVO==null}">
						    		
										
						    		<th:block th:each="lesson:${student.studentLessonInfoList}">
										<input type="hidden" class="lessonInfoCodes" th:value="${lesson.lessonInfoVO.lessonInfoCode}">
										<!-- <input type="hidden" class="studentLessonCodes" th:value="${lesson.studentLessonCode}"> -->
								    	<div class="row  align-items-center border-top pt-5"  >
								    		
								    			<div class="col-2 ms-3 bg-secondary p-2 bg-opacity-10 ">
										    		과목
									    		</div>
									    		<div class="col nowSubject" th:data-stuLessonCode="${lesson.studentLessonCode}"
									    				th:id="${lesson.lessonInfoVO.lessonInfoCode}" th:text="${lesson.lessonInfoVO.subjectVO.subjectName}"></div>
								    			<div class="col-2 ms-3 bg-secondary p-2 bg-opacity-10">
										    		단계
									    		</div>
									    		<div class="col" th:text="${lesson.lessonInfoVO.stepVO.stepName}"></div>
								    			<div class="col-2 ms-3 bg-secondary p-2 bg-opacity-10">
										    		과정
									    		</div>
									    		<div class="col" th:text="${lesson.lessonInfoVO.year + '학년'}"></div>
								    		
								    	</div>
								    	<div class="row mt-3 mb-5 align-items-center">
								    		
								    			<div class="col-4 ms-3 bg-secondary p-2 bg-opacity-10">
										    		현재정원 / 최대정원
									    		</div>
									    		<div class="col" th:text="${lesson.lessonInfoVO.nowStudentCnt + '/' + lesson.lessonInfoVO.maxStudent}"></div>
								    			<div class="col-2 bg-secondary p-2 bg-opacity-10">
										    		수강료
									    		</div>
									    		<div class="col" th:text="${'￦'+ #numbers.formatInteger(lesson.lessonInfoVO.money,3,'COMMA')}"></div>
								    		
								    	</div>
												
												
									</th:block>
						    	
						    	</th:block>
						    	
						   	</div>
					    
						</div>
					</div>
				</div>
				


				<div class="col">
					<div class="card mb-5 mx-auto" >
					 	<div class="card-body">
						    <h3 class="card-title">
						    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-node-plus-fill" viewBox="0 0 16 16">
							  <path d="M11 13a5 5 0 1 0-4.975-5.5H4A1.5 1.5 0 0 0 2.5 6h-1A1.5 1.5 0 0 0 0 7.5v1A1.5 1.5 0 0 0 1.5 10h1A1.5 1.5 0 0 0 4 8.5h2.025A5 5 0 0 0 11 13zm.5-7.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2a.5.5 0 0 1 1 0z"/>
							</svg>
						    
						    이동 할 수강정보</h3>
						    <div class="card-text">
						    	<h5>학급 정보</h5>
						    	<p class="card-text "><small class="text-muted">이동할 학급을 선택하세요.</small></p>
						    	
						    	
						    	
						    	<div class="row  align-items-center border-top pt-5">
						    		<div class="col" >

							    		<select class="form-select"   aria-label="Default select example" id="selectBeforeLesson">
											<option value="">선택</option>
											 <th:block th:each ="lesson:${lessonList}" >
										      <option th:value="${lesson.lessonInfoCode}" th:data-newSub="${lesson.subjectVO.subjectName}" th:text="${lesson.subjectVO.subjectName + '-' +lesson.stepVO.stepName +'-'+lesson.year +'학년' }" >
										      </option>
										    </th:block>	
												
										</select>
					    				<div>
					    					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond" viewBox="0 0 16 16">
											  <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
											  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
											</svg>
					    					<small class="text-muted"> 같은 과목끼리의 학급 이동만 가능합니다.</small>
					    				</div>
					    				
									</div>
						    	</div>
						    	<div class="row  align-items-center pt-5">
						    		<div class="col" >

								  		<!-- <form th:action="@{/stu/assingnStuProcess}" method="post" id="updateStuForm"> -->
							    			<div class="d-grid gap-2 col-6 mx-auto">
							    				<input type="hidden" name="studentLessonCode" id="studentLessonCode" value="">
							    				<input type="hidden" name="lessonInfoCode" id="inputLessonCode" value="">
							    				<input type="hidden" name="beforeLessonInfoCode" id="beforeLessonInfoCode" value="">
											  <button class="btn btn-primary" type="button" id="updateBtn" th:onclick="updateStudentLesson();"> 학급이동</button>
											</div>
								  		<!-- </form --> 
					    		
									</div>
						    	</div>
						    	
						    	
						    	
						   	</div>
					    
						</div>
					</div>
				</div>			
			</div>
		  
		  
		  
		  
		  
		  


		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script> 
	<!-- jquery 문법 로딩 -->
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" th:src="@{/js/student/update_stu_pop.js}"></script>
	<!-- <script type="text/javascript" th:src="@{/js/student/popup_test.js}"></script> -->


</body>

</html>