@charset "UTF-8";

@font-face {
    font-family: 'YUniverse-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
	
	font-family: 'YUniverse-B';
	
}
a{
	text-decoration: none;
	color: gray;
	
}


.btn:hover {
	cursor: pointer;
}

/* 교사 리스트 내 아이디 */
.sId{
	
	color: gray;
	
}

.sId:hover{
	
	cursor: pointer;
	
}
/*==================  */
.hasError{
	color: red;
	
	font-size: 14px;
}

.successPwChk{
	font-size: 14px;
	
}


.scrollToTop{
    width:100px; 
    height:130px;
    padding:10px; 
    text-align:center; 
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    
    bottom: 38px;
    right:30px;
    display:none;
    background: url('arrow-up-circle.svg') no-repeat 0px 20px;
}
.scrollToTop:hover{
    text-decoration:none;
}

.layoutSide {
	height: 100% !important;
}
.joinLoginTop{
	width: 100% !important;
	
}

/* 작은 글씨 안내 문구  */
.tip{
	color: #999999;
	font-size: 14px;
}


/* 메인 배너 */
.carousel-inner > .carousel-item > img {
      top: 0;
      left: 0;
      margin: 0 auto;
      max-width: 95%;
      height: 600px;
    } 


.pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px}

.pagination>li{display:inline}.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.42857143;color:#337ab7;text-decoration:none;background-color:#fff;border:1px solid #ddd}

.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:670px;border-top-left-radius:4px;border-bottom-left-radius:4px}

.pagination>li:last-child>a,.pagination>li:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px}

.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{z-index:2;color:#23527c;background-color:#eee;border-color:#ddd}

.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{z-index:3;color:#fff;cursor:default;background-color:#0d6efd;border-color:#0d6efd}

.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{color:#777;cursor:not-allowed;background-color:#fff;border-color:#ddd}

.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px;line-height:1.3333333}

.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-top-left-radius:6px;border-bottom-left-radius:6px}

.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-top-right-radius:6px;border-bottom-right-radius:6px}

.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px;line-height:1.5}

.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-top-left-radius:3px;border-bottom-left-radius:3px}

.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-top-right-radius:3px;border-bottom-right-radius:3px}.pager{padding-left:0;margin:20px 0;text-align:center;list-style:none}.pager li{display:inline}.pager li>a,.pager li>span{display:inline-block;padding:5px 14px;background-color:#fff;border:1px solid #ddd;border-radius:15px}