@charset "UTF-8";

@font-face {
    font-family: 'YUniverse-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
	
	font-family: 'YUniverse-B';
	
}
a{
	text-decoration: none;
	color: gray;
	
}


.btn:hover {
	cursor: pointer;
}

.hasError{
	color: red;
	background-color: #EEEEEE;
	font-size: 15px;
	font-style: italic;
}

