@charset "UTF-8";





* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	
	
}

ul,ol {
	list-style: none;
}
a {
	text-decoration: none;
}

section{
	width: 100%;
	padding: 30px;
	background-color: #fff;
	margin: 50px auto;
	box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
	border-radius: 10px;

}


section nav.menu{
	width: 100%;
}

section nav.menu::after {
	content:"";
	display:bolck;
	clear: both;
}

section nav.menu a{
	font-size: 20px;
	color: #666;
}

section nav.menu a:nth-of-type(1) {
	float: left;
}
section nav.menu a:nth-of-type(2) {
	float: right;
}

section article.profile{
	width: 100%;
	text-align: center;
}


section article.profile img{
	width: 200px;
	hegit:200px;
	border-radius: 50%;
	margin-bottom :20px;
	box-shadow: 5px 15px 30px rgba(173,216,230,0.8); 
}


section article.profile h1{
	font-weight: bold;
	font-size: 22px;
	font-family: "arial";
	line-height: 1;
	color: #555;
	margin-bottom: 5px;
}

section article.profile h2{

	font-weight: normal;
	font-size: 12px;
	font-family: "arial";
	line-height: 1;
	color: #bbb;
	margin-bottom: 30px;


}

section a.btnView{

	display: block;
	width: 180px;
	height: 32px;
	margin: 0px auto 20px;
	background-color: #444;
	border-radius: 16px;
	font-weight: bold;
	font-size: 13px;
	font-family: "arial";
	color: #fff;
	line-height: 32px;
	text-align: center;
	background: linear-gradient(45deg,#607EAA,#1C3879);
	box-shadow: 5px 10px 20px rgba(83,138,185,0.493);
	
}
section a.btnView1{

	display: block;
	width: 180px;
	height: 32px;
	margin: 0px auto 20px;
	background-color: #444;
	border-radius: 16px;
	font-weight: bold;
	font-size: 13px;
	font-family: "arial";
	color: #fff;
	line-height: 32px;
	text-align: center;
	background: linear-gradient(45deg,#FE8F8F,#FF3F00);
	box-shadow: 5px 10px 20px rgba(246,135,100,0.493);
	
}

section ul.contact{

	margin-bottom: 25px;
}

section ul.contact li{
	width: 100%;
	padding: 10px 0px;
	border-bottom: 1px solid #eee;
}

section ul.contact li:last-child{
	border-bottom: none;

}

section ul.contact li i{
	width: 100%;
	text-align: center;
	color:#555;
	font-size: 15px;
	text-shadow: 2px 2px 2px #ddd;
	
	
}

section ul.contact li i span{
	font-weight: normal;
	font-size: 11px;
	font-family: "orbitron";
	color: #555;
	letter-spacing: 1px;
	
}


