<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz.thymeleaf/layout"
	layout:decorate="~{layout/Join_Login_layout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{}">
</th:block>



<div layout:fragment="content">



	<div class="findLogin_container mt-3">
		<div class="col-md-4" style="float: none; margin: 0 auto;">

			<h2>아이디 찾기</h2>
			<p class="tip" style="color: #999999; font-size: 14px;">
				-회원정보에 저장된 이름/연락처 로 아이디를 찾을 수 있습니다
			</p>
			<div class="row mb-3">
				<div class="col-sm-12">
					<input type="text" class="form-control" name="teacherName" id="teacherName" placeholder="이름">
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-sm-12">
					<input type="text" class="form-control" name="teacherTell" id="teacherTell" placeholder="연락처">
				</div>
			</div>
			<div class="d-grid gap-2 mb-3">
				<button th:onclick="findLoginAjax();" class="btn btn-primary"
					type="button">확인</button>
			</div>
		</div>
	</div>


	<!-- 아래 자스에 넣을 부분 임시로 -->
	<div id="findResult">
		<!--여기서부터  -->
		<!-- <div class="col-md-4" style="float: none; margin: 0 auto;">
			<th:block th:if="${check == 1}">
				<div>
					아이디 조회 결과 입력하신 정보와 일치하는 아이디가 존재하지 않습니다.
				</div>
			</th:block>
			<th:block th:if="${check == 0}">
				<div>
					아이디 조회 결과 입력하신 정보와 일치하는 아이디는 아래와 같습니다
					<div th:text="${teacherId}"></div>
				</div>
			</th:block>
		</div>
 -->
		<!-- 여기까지 -->
	</div>










	<!-- jquery 문법 로딩 -->
	<!--순서 잘 맞춰서 적어야 함  -->
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" th:src="@{/js/teacher/find_login.js}"></script>

</div>


</html>