<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz.thymeleaf/layout"
	layout:decorate="~{layout/Join_Login_layout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{}">
</th:block>



<div layout:fragment="content">

	<div class="findIdLogin_container mt-3">
		<div class="col-md-4" style="float: none; margin: 0 auto;">
		
			<h2>
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
				  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
				  <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
				</svg> 아이디 찾기
			</h2>
			<p class="tip" style="color: #999999; font-size: 14px;">
			- 회원정보에 저장된 이름/전화번호 로 아이디를 찾을 수 있습니다</p>
			<form class="needs-validation" novalidate>
				<div class="row mb-3">
					<div class="col-sm-12">
						<input type="text" class="form-control" id="findName"
							placeholder="이름" required>
							<div class="invalid-feedback">
						       &ensp;필수 입력 값입니다.
						    </div>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-sm-12">
						<input type="text" class="form-control" id="findTell"
							placeholder="전화번호" required="required">
							<div class="invalid-feedback">
						      &ensp;필수 입력 값입니다.
						    </div>
					</div>
				</div>
				<div class="d-grid gap-2 mb-3">
					<button th:onclick="findLoginIdAjax();" class="btn btn-primary"
						type="button">확인</button>
				</div>
			</form>
		</div>
	</div>

	<!-- findLoginIdAjax()가 실행되면서 생기는 div -->
	<div id="findResult">
		<!--여기서부터  -->

		<!-- 여기까지 -->
	</div>

	<div class="findPwLogin_container mt-5">
		<div class="col-md-4" style="float: none; margin: 0 auto;">

			<h2>
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-envelope-check" viewBox="0 0 16 16">
				  <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
				  <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"/>
				</svg> 비밀번호 찾기
			</h2>
			<p class="tip" style="color: #999999; font-size: 14px;">
				- 아이디/이름/전화번호 로 비밀번호를 변경할 수 있습니다<br> 
				- 회원정보가 확인되면 인증번호로 임시비밀번호를 보내드립니다<br>
				- 인증번호 확인시 비밀번호가 임시비밀번호로 변경됩니다<br>
				- 로그인 후 개인정보수정에서 비밀번호를 수정해주세요.
			</p>
		
			<form class="needs-validation2" novalidate>
				<div class="row mb-3">
					<div class="col-sm-12">
						<input type="text" class="form-control" name="teacherId"
							id="teacherId" placeholder="아이디" required>
							<div class="invalid-feedback">
						      &ensp;필수 입력 값입니다.
						    </div>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-sm-12">
						<input type="text" class="form-control" name="teacherName"
							id="teacherName" placeholder="이름" required>
							<div class="invalid-feedback">
						      &ensp;필수 입력 값입니다.
						    </div>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-sm-12">
						<input type="text" class="form-control" name="teacherTell"
							id="teacherTell" placeholder="전화번호" required>
							<div class="invalid-feedback">
						      &ensp;필수 입력 값입니다.
						    </div>
					</div>
				</div>
				<div class="row mb-3">
					<div class="d-grid gap-2 mb-3">
						<button th:onclick="" id="sendPhoneNumber" class="btn btn-primary"
							type="button">문자 전송</button>
					</div>
				</div>
			</form>
			
			<!-- 인증번호 입력 div -->
			<div id="changeFindPwDiv"></div>
		</div>
	</div>






	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script> 
	<!-- jquery 문법 로딩 -->
	<!--순서 잘 맞춰서 적어야 함  -->
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" th:src="@{/js/teacher/find_login.js}"></script>

</div>


</html>