<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/Join_Login_layout}">


<div layout:fragment="content">


	<div class="row justify-content-center">
		<div class="col-8 bg-light align-self-center">
		
		<div class="text-center my-5">
			<h2 style="color: #9F8772;">Potato Academy</h2>
			<div>계정만들기</div>
		</div>
		
		<form action="/teacher/join" method="post" th:object="${teacherVO}" id="joinForm">
		  <div class="my-3 row justify-content-center text-center">
		    <label for="inputTeacherId" class="col-sm-2 col-form-label">아이디</label>
		    <div class="col-sm-3">
		      <input type="text" class="form-control" id="inputTeacherId" name="teacherId">
		      <span class="hasError" th:if="${#fields.hasErrors('teacherId')}" th:errors="*{teacherId}"></span>
		    </div>
		    <div class="col-sm-2">
		    	<button type="button" id="idDoubleCheckBtn" th:onclick="idDoubleCheck();" class="btn btn-danger">ID중복확인</button>
		    	<!-- 아이디 중복 체크 여부 -->
		    	<input type="hidden" id="isDoubleChk" name="idDoubleChk" value="">
		    </div>
		  </div>
		  <div class="mb-3 row justify-content-center text-center">
		    <label for="inputTeacherPw" class="col-sm-2 col-form-label">비밀번호</label>
		    <div class="col-sm-5">
		      <input type="password" class="form-control" id="inputTeacherPw" name="teacherPw">
		      <span class="hasError" th:if="${#fields.hasErrors('teacherPw')}" th:errors="*{teacherPw}"></span>
		    </div>
		  </div>
		  <div class="mb-3 row justify-content-center text-center">
		    <label for="inputTeacherName" class="col-sm-2 col-form-label">이름</label>
		    <div class="col-sm-5">
		      <input type="text" class="form-control" id="inputTeacherName" name="teacherName">
		      <span class="hasError" th:if="${#fields.hasErrors('teacherName')}" th:errors="*{teacherName}"></span>
		    </div>
		  </div>
		  <div class="mb-3 row justify-content-center text-center">
		    <label for="inputCareer" class="col-sm-2 col-form-label">강의과목</label>
		    <div class="col-sm-5">
		      <!-- <input type="text" class="form-control" id="inputCareer" name="lessonsCode" value="SUBJECT_001" placeholder="셀렉트박스로 수정 예정"> -->
		      <!-- name="lessonsCode"... 데이터 가져와서 뽑기 -->
		      <select id="subjectCode" name="subjectCode" class="form-select">
			    <th:block th:each ="subject:${subjectList}"  >
			      <option 
			      			th:value="${subject.subjectCode}" th:text="${subject.subjectName}" >
			      </option>
			    </th:block>
			  </select>
		    </div>
		  </div>
		  <div class="mb-3 row justify-content-center text-center">
		    <label for="inputTeacherTell" class="col-sm-2 col-form-label">연락처</label>
		    <div class="col-sm-5">
		      <input type="text" class="form-control" id="inputTeacherTell"  name="teacherTell" placeholder="-없이 숫자만 입력하세요.">
		      <span class="hasError" th:if="${#fields.hasErrors('teacherTell')}" th:errors="*{teacherTell}"></span>
		    	
		    </div>
		  </div>
		  <div class="mb-3 row justify-content-center">
		  	<div class="col-sm-7 border-top">
		     <h5 class="pt-3" style="padding-left: 50px;"> 선택항목</h5>
		    </div>
		  </div>
		  
		  <div class="mb-3 row justify-content-center text-center">
		    <label for="inputCareer" class="col-sm-2 col-form-label">경력사항</label>
		    <div class="col-sm-5">
		      <input type="text" class="form-control" id="inputCareer" name="career" placeholder="예) 입시학원 3년 강의, 과외 2년">
		    </div>
		  </div>
		</form>
		  
		  <div class="d-grid gap-2 col-6 mx-auto my-5">
			 <button class="btn btn-primary ms-5" type="button" th:onclick="isDoubleChk();">회원가입</button>
		</div>
		
	
		</div>
		  
	</div>


	<!-- ID중복검사 버튼 클릭 시 실행되는 Modal -->
	<!-- 중복 아이디가 있을 경우Modal -->
	<div class="modal fade" id="idDouble_Yes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <form class="row g-3" action="/" method="post">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel"> ID 중복 검사</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	       	<div class="mb-1">
	       		사용 불가능한 아이디입니다.
			</div>
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
	        
	      </div>
     	 </form>
	    </div>
	  </div>
	</div>
	
	<!-- 중복 아이디가 없을 경우Modal -->
	<div class="modal fade" id="idDouble_No" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel"> ID 중복 검사</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	       	<div class="mb-1">
	       		사용가능한 아이디입니다.
			</div>
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
	        <!-- <button type="submit" th:onclick="loginResult()" class="btn btn-primary">ajax Login</button>  --> 
	        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">사용하기</button>
	      </div>
     	 
	    </div>
	  </div>
	</div>
	
	<!-- ID중복검사를 하지 않았을 때 Modal -->
	
	<div class="modal fade" id="isDoubleCheck" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <form class="row g-3" action="/" method="post">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel"> ID 중복 검사</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	       	<div class="mb-1">
	       		ID 중복 검사를 실행해주세요!
			</div>
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
	        
	      </div>
     	 </form>
	    </div>
	  </div>
	</div>



<!-- javascript 경로 확인  -->
<script type="text/javascript" th:src="@{/js/teacher/join_page.js}"></script>


</div>

</html>


