<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">


<div layout:fragment="content">

	
	
			<div class="card mb-3 mx-auto" style="max-width: 1000px;">
			  <div class="row g-0">
			    
			    <div class="col-md-8">
			      <div class="card-body">
			        <h3 class="card-title">내 프로필</h3>
			        <p class="card-text"><small class="text-muted">사진을 추가하여 계정을 맞춤설정할 수 있습니다.</small></p>
			        <p class="card-text">
			        
				        <h5>개인 정보</h5>
						<form th:action="@{/teacher/insertProfileImg}" method="post" enctype="multipart/form-data">
							<div class="row mb-5">
						        <div class="col-8">
									  <input type="file" class="form-control" id="profileImg" name="profileImg" aria-describedby="basic-addon3">
									  <input type="hidden" class="form-control" id="teacherCode" name="teacherCode"  th:value="${teacher.teacherCode}" aria-describedby="basic-addon3">
									  
							    </div>
							    <div class="col-3">
								  <button type="submit" class="btn btn-success">변경하기</button>
								</div>  
							</div>
							
							
							
							
						</form>  
			        </p>
			      </div>
			    </div>
			    <div class="col-md-3 mx-auto">
			    	<figure class="figure">
						<!-- <img th:src="@{/images/}+human.jpg" class="img-fluid rounded-start img-circle"  alt="..."  style="width: 200px; height: 200px;"> -->
						<img th:src="@{/images/profile/}+${teacher.profileImgVO.storedFileName}" class="img-fluid rounded-start img-circle"  alt="..."  style="width: 200px; height: 200px;">
					  	<figcaption class="figure-caption text-center border border-secondary">현재 프로필 사진</figcaption>
					</figure>
			    	
			    </div>
			    
			  </div>
			</div>
			
			
			<div class="card mb-5 mx-auto" style="max-width: 1000px;">
			  <div class="card-body">
			    <h3 class="card-title">기본정보</h3>
			    <p class="card-text "><small class="text-muted">개인 정보과 승인 상태를 확인 할 수 있습니다.</small></p>
			    <div class="card-text">
			    	<h5>계정 정보</h5>
			    	
			    	<div class="row mb-2 align-items-center">
			    		<div class="col-2 ms-3 text-secondary">
				    		아이디
			    		</div>
			    		<div class="col" th:text="${teacher.teacherId}"></div>
		    		</div>
		    		
			    	<div class="row mb-2 align-items-center">
			    		<div class="col-2 ms-3 text-secondary">
				    		비밀번호
			    		</div>
			    		<div class="col-3" >********</div>
			    		<div class="col-2 text-secondary">
				    		<button type="button" class="btn btn-danger btn-sm mt-0 pwPromptStart" th:onclick="getPw(this)" value="비밀번호">
				    			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
								  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
								</svg>
				    			변경
				    		</button>
			    		</div>
		    		</div>
			    	
			    	<h5>개인 정보</h5>
			    	<div class="row mb-2 align-items-center">
			    		<div class="col-2 ms-3 text-secondary" id="nameText">
				    		이름
			    		</div>
			    		<div class="col-3" th:text="${teacher.teacherName}"></div>
			    		<div class="col-2 text-secondary">
				    		<button type="button" class="btn btn-outline-secondary btn-sm mt-0 PromptStart" th:onclick="getText(this)" value="이름">
				    			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
								  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
								</svg>
				    			수정
				    		</button>
			    		</div>
			    		
			    		
			    	</div>
			    		
			    	</div>
			    	
			    	<div class="row mb-2 align-items-center">
			    		<div class="col-2 ms-3 text-secondary" id="tellText">
				    		연락처
			    		</div>
			    		<div class="col-3" th:text="${teacher.teacherTell}"></div>
			    		<div class="col-2 text-secondary">
				    		<button type="button" class="btn btn-outline-secondary btn-sm mt-0 PromptStart" th:onclick="getText(this)" value="연락처">
				    			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
								  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
								</svg>
				    			수정
				    		</button>
			    		</div>
			    		
			    	</div>
			    	
			    	<div class="row mb-2 align-items-center">
			    		<div class="col-2 ms-3 text-secondary"  id="emailText">
				    		이메일
			    		</div>
			    		<div class="col-3" th:text="${teacher.teacherEmail}"></div>
			    		<div class="col-2 text-secondary">
				    		<button type="button" class="btn btn-outline-secondary btn-sm mt-0 PromptStart" th:onclick="getText(this)" value="이메일">
				    			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
								  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
								</svg>
				    			수정
				    		</button>
			    		</div>
			    		
			    	</div>
			    	
			    	<div class="row mb-2">
			    		<div class="col-2 ms-3 text-secondary">
				    		성별
			    		</div>
			    		<div class="col" th:text="${teacher.teacherGender}"></div>
			    		
			    	</div>
			    	
			    	<div class="row mb-2">
			    		<div class="col-2 ms-3 text-secondary">
				    		강의과목
			    		</div>
			    		<div class="col" th:text="${teacher.SubjectVO.subjectName}"></div>
			    		
			    	</div>
			    	
			    	<div class="row mb-2">
			    		<div class="col-2  ms-3 text-secondary">
				    		경력사항
			    		</div>
			    		<div class="col" th:text="${teacher.career}"></div>
			    	</div>
			    	
			    	<div class="row mb-4">
			    		<div class="col-2 ms-3 text-secondary">
				    		재직상태
			    		</div>
			    		<div class="col" th:text="${teacher.teacherStatus}"></div>
			    	</div>
			    	
			    	<h5>승인상태</h5>
			    	<div class="row mb-2">
			    		<div class="col-2 ms-3 text-secondary">
				    		권한
			    		</div>
			    		<div class="col" th:text="${teacher.teacherRole}"></div>
			    	</div>
			    
			    </div>
			  </div>
			  
			<div class="row mb-5">
				<div class="col-10">
					<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						  <button class="btn  btn-outline-light me-md-2" type="button" id="leaveConfirmStart" >탈퇴</button>
					</div>
				</div>
			</div>		  
			  

	<!-- 자동 새로고침 -> 숨김버튼 자동 클릭하게 만들기 -->


	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script> 
	<!-- jquery 문법 로딩 -->
	<!--순서 잘 맞춰서 적어야 함  -->
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" th:src="@{/js/teacher/teacher_info.js}"></script>
</div>
<!-- </div> ????????????? -->

</html>