<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
	
	

<div layout:fragment="content">

	<div class="row">
	
	
		<div class="col-12">
			<div class="row">
				<div class="col-12">
					<h6>학급 편성 등록</h6>
				</div>
				<div class="col-12 mb-3">
					<form class="row g-3" th:action="@{/admin/selectLessonRoom}" method="post">
                  <div class="col-10">
                     <input type="text" name="roomName" class="form-control" id="" placeholder="LessonRoomName">
                  </div>
                    <div class="col-2">
                    	 <button type="submit" class="btn btn-primary" name="findClass">검색</button>
                     
                    </div>
                    	<div class="row justify-content-" style="margin: 1rem">
						  <div class="col-2"  style="margin-right:4.4rem;">
                       		 <button type="button" id="updateLessonRoomModal" class="btn btn-info fal fa-save"  th:onclick="goRegLessonInfoAjax();">학급등록</button>
                  		  </div>
                  		</div> 
              	 </form>
				</div>
				
				<div class="col-11">
					<table class="table table-striped table-hover text-center">
                 <thead>
                   <tr>
                   	   <td>
                     <input id="checkAll" type="checkbox" class="form-check-input" >
	                   </td>
	                     <th scope="col">No</th>
	                     <th scope="col">편성년월</th>
	                     <th scope="col">학급명</th>
	                     <th scope="col">요일</th>
	                     <th scope="col">시간</th>
	                     <th scope="col">교실</th>
	                     <th scope="col">교사</th>
	                     <th scope="col">정원</th>
	                     <th scope="col">현정원</th>   
                   </tr>
                 </thead>
               </table>
			 </div>
			</div>
		  </div>
		  
		   	<form th:action="@{/admin/deleteLessonRoom}" method="post" id="deleteLessonRoomForm">  <!-- 폼태그 안에 input가 있어야 데이터를 가져간다.  -->
             <input type="hidden" name="lessonRoomCodes"  value="">  <!-- submit누르면 데이터 안보이게 데이터 가져갈꺼다.  내가 체크한 체크박스들을 이 input태그의 value값을   -->
               <div class="row justify-content-end">
                  <div class="col-2"  style="margin-right:4.4rem;">
                        <button th:onclick="lessonRoomDeleteAjax();" type="button" class="btn btn-warning form-control-start" >삭제</button>
                  </div>
               </div>
              </form> 

            </div>
            <!------------------------------------------------------------------------------------------------------------------------------------------------------------->            
            
            
        <!-- 교실 신규 버튼 누르면 실행되는 Modal -->
		<!-- Modal -->	   
		<div class="modal fade" id="aa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			 <div class="modal-dialog modal-xl">
				<div class="modal-content">
				  	  <!-- 모달 제목글 header -->
	
		    	     <div class="modal-header"> 
				        <h5 class="modal-title" id="exampleModalLabel"> 학급 편성 등록 </h5>
				          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				     </div>
					
					<!-- 모달 내용글 body -->
				      <div class="modal-body">
				      	<div class="row mb-3">
				      		<div class="col-10">
							  <fieldset class="w-100">
								<h4>학급 정보</h4>
								
										<div class="form-group input-group mb-1">
											<div class="col-6 col-lg-2 px-0">
												<span class="input-group-text h-100 rounded-0">편성년월</span></div>
												<!--변수 인식하기 위해 value말고 th:value  -->
												<!--notion  -->
												<div class="col-6 col-lg-3 px-1 rounded-0">
												<div class="input-group h-100">
													<input type="date" class="form-control" id="" name="" autocomplete="off">
														<div class="input-group-append"  data-istyle="year-month">
														</div>
												</div>

											</div>
											<div class="col-6 col-lg-2 px-1"><span class="input-group-text h-100 rounded-0">과정구분</span></div>
									
												<div class="col-6 col-lg-5 px-">
													<select class="form-select"   aria-label="Default select example" id="year" name="year" kor="과정구분">
														<option value="">선택</option>

															<option value="1">고등1</option>
															<option value="2">고등2</option>
															<option value="3">고등3</option>

													</select>
												</div>
											</div>	
												<div class="form-group input-group mb-1">
													<div class="col-6 col-lg-2 px-0"><span class="input-group-text h-100 rounded-0">과목구분</span></div>
													  <div class="col-6 col-lg-3 px-1 rounded-0">
														<select class="form-select" id="subjectName" name="subjectName">
															
															<option value="">전체</option>
															<th:block th:each="subject, status : ${subjectList}">	
															<option th:text="${subject.subjectName}"></option>
						
															</th:block>
														</select>
													</div>

											<div class="col-6 col-lg-2 px-1"><span class="input-group-text h-100 rounded-0">단계</span></div>
									
												<div class="col-6 col-lg-5 px-">
										      	
													<select class="form-select"   aria-label="Default select example" id="schClsSn" name="schClsSn" kor="과정구분">
														<option value="">선택</option>

															<option value="심화">심화</option>
															<option value="기초">기초</option>
														
													</select>
												</div>
											</div>
												
											<div class="form-group input-group mb-1">
												<div class="col-6 col-lg-2 px-0"><span class="input-group-text h-100 rounded-0">정원</span></div>
												  <div class="col-6 col-lg-3 px-1 rounded-1">
													<input type="text" id="cpaCn" name="cpaCn" class="form-control rounded-0 h-100" placeholder="정원" aria-label="8" aria-describedby="cpaCn" value="8">
												</div>
												
												
											<div class="col-6 col-lg-2 px-1"><span class="input-group-text h-100 rounded-0">현 정원</span></div>
												 <div class="col-6 col-lg-5 px-">
										      	
													<input type="text" id="cpaCn" name="cpaCn" class="form-control rounded-0 h-100" placeholder="정원" aria-label="8" aria-describedby="cpaCn" value="8">
												</div>
											
												<div class="col-6 col-lg-5 px-">
										      	
													
												</div>
											</div>
												
												
								<div class="form-group input-group mb-1">
									<div class="col-6 col-lg-2 px-0"><span class="input-group-text h-100 rounded-0">요일</span></div>
									<div class="col-6 col-lg-3 px-1 rounded-0">
										<select class="form-select" id="sbjSpcSn" name="sbjSpcSn">
										
												<option value="월">월</option>
												<option value="화">화</option>
												<option value="수">수</option>
												<option value="목">목</option>
												<option value="금">금</option>
												
										</select>
									</div>
									<div class="col-6 col-lg-2 px-1"><span class="input-group-text h-100 rounded-0">수업시간</span></div>
										<div class="col-6 col-lg-5 px-">
											<select class="form-select"   aria-label="Default select example" id="schClsSn" name="schClsSn" kor="과정구분">
												<option value="">선택</option>

													<option value="18:00~19:00">18:00~19:00</option>
													<option value="19:00~20:00">19:00~20:00</option>
													<option value="20:00~21:00">20:00~21:00</option>
													<option value="21:00~22:00">21:00~22:00</option>

											</select>
										</div>
									
								</div>
								<div class="form-group input-group mb-1">
									<div class="col-6 col-lg-2 px-0"><span class="input-group-text h-100 rounded-0">교실명</span></div>
									<div class="col-6 col-lg-10 px-1 rounded-0">
										<select class="form-select rounded-0 h-100"   aria-label="학급명" aria-describedby="classOgnNm" value="" kor="학급명">
											<th:block th:each="LessonRoom, status : ${LessonRoomList}">	
												<option th:text="${LessonRoom.roomName}"></option>
						
											</th:block>

													</select>
									</div>
								</div>
								<div class="form-group input-group mb-1">
									<div class="col-6 col-lg-2 px-0"><span class="input-group-text h-100 rounded-0">메모</span></div>
									<div class="col-6 col-lg-10 px-1">
										<textarea id="memo" name="memo" class="form-control rounded-0" placeholder="메모" aria-label="메모" aria-describedby="memo"></textarea>
									</div>
								</div>


								<div class="form-group input-group mb-1">

										<p style="color: red; ">* 복수 요일(프로그램) 학급을 편성 시, 각 프로그램별 금액이 전부 합산되어 학급의 수강료로 책정됩니다.<br> ex) 화 12만원 + 목 12만원 = 화목 24만원</p>


								</div>
							</fieldset>
							<div class="row">
		      					<div class="col text-end">
		      		
					      			<button type="submit" id="updateAmountBtn" class="btn btn-primary btn-sm" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 3rem; --bs-btn-font-size: 1rem;">저장</button>
					      			<button type="button" id="cancelBtn" data-origin-amount=""  th:onclick="rollbackAmount();"  class="btn btn-secondary btn-sm" data-bs-dismiss="modal" aria-label="Close" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 3rem; --bs-btn-font-size: 1rem;">닫기</button>
		      		
					      		</div>
					      	</div>
							
							
						    </div>
						  </div>
						</div>
					</div>
				</div>
			</div>
						
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->

          <script src="https://code.jquery.com/jquery-latest.min.js"></script>   
		<script type="text/javascript" th:src="@{/js/admin/lesson_room.js}"></script>
            
	</div>
</html>