<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz.thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">
	
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{}">
</th:block>



<div layout:fragment="content">


감자프로젝트 테스트용

<!--여기부터 검색 div  -->
<!--여기까지 검색 div  -->


<!--여기부터 리스트  -->

<div class="row">
		<table class="table table-hover text-center align-middle ">
			<!-- 세로로 가운데로 notion -->
			<thead>
				<tr>
					<th scope="col">
						<input type="checkbox">
					</th>
					<th scope="col">교사명</th>
					<th scope="col">아이디</th>
					<th scope="col">담당과목</th>
					<th scope="col">전화번호</th>
					<th scope="col">경력</th>
					<th scope="col" class="bi bi-arrow-through-heart-fill">상태</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<th:block th:if="${#lists.size(teacherList)==0}">
					<tr>
						<td colspan="7"> 아무도 없고....학원 망함....</td>
					</tr>
				</th:block>
				<th:block th:unless="${#lists.size(teacherList)==0}">
					<tr th:each="teacher:${teacherList}">
						<td>
							<input type="checkbox">
						</td>
						<td th:text="${teacher.teacherName}"></td>
						<td th:text="${teacher.teacherId}"></td>
						<td th:text="${teacher.subjectCode}" ></td>
						<td th:text="${teacher.teacherTell}"></td>
						<td th:text="${teacher.career}"></td>
						<td th:text="${teacher.teacherStatus}"></td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>



<!--여기까지  -->







</div>


</html>