<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz.thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<div>

<!-- 교사 정보  div 여기부터 -->
<div class="container text-center">
  <h2>교사 정보</h2>
  <div class="row">
    <div class="col-sm-3" style="background-color: yellow;">
    	<div> 
    		<img th:src=@{/images/선생님.png} class="img-thumbnail" width="100%">
    	</div>
    </div>
    <div class="col-sm-9" style="background-color: red;">
      <div class="row">
        <div class="col-6 col-sm-12 " style="background-color: gray;">
          <div class="input-group mb-2">
				<span class="input-group-addon col-2">이름</span> 
				<input type="text" class="form-control" id=""  autocomplete="off" readonly>
			</div>
        </div>
        <div class="col-6 col-sm-12 " style="background-color: blue;">
          <div class="input-group mb-2">
				<span class="input-group-addon col-2">아이디</span> 
				<input type="text" class="form-control" id="" autocomplete="off" readonly>
			</div>
        </div>
        <div class="col-6 col-sm-12 " style="background-color: blue;">
          <div class="input-group mb-2">
				<span class="input-group-addon col-2">담당과목</span> 
				<input type="text" class="form-control" id="" autocomplete="off" readonly>
			</div>
        </div>
        <div class="col-6 col-sm-12 " style="background-color: blue;">
          <div class="input-group mb-2">
				<span class="input-group-addon col-2">전화번호</span> 
				<input type="text" class="form-control" id="" autocomplete="off" readonly>
			</div>
        </div>
        <div class="col-6 col-sm-12 " style="background-color: blue;">
          <div class="input-group mb-2">
				<span class="input-group-addon col-2">재직상태</span> 
				<input type="text" class="form-control" id="" autocomplete="off" readonly>
			</div>
        </div>
        <div class="col-6 col-sm-12 " style="background-color: blue;">
          <div class="input-group mb-2">
				<span class="input-group-addon col-2">경력</span> 
				<input type="text" class="form-control" id="" autocomplete="off" readonly>
			</div>
        </div>
        <div class="col-6 col-sm-12 " style="background-color: blue;">
          <div class="input-group mb-2">
				<span class="input-group-addon col-2">권한</span> 
				<input type="text" class="form-control" id="" autocomplete="off" readonly>
			</div>
        </div>
      
      </div>
   
    </div>
  </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
</html>