<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz.thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">
	
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{}"> 
</th:block>



<div layout:fragment="content">

	여기서부터 검색

	<!--여기부터 검색 div  -->
	<form th:action="@{/admin/teacherList}" method="post">
		<section>
			<div class="info mb-2">
				<i class="fas fa-exclamation-circle color-blue2"></i> <b> 검색조건</b>
			</div>
			<div class="row search-detail-form">
				<div class="col-xs-12 col-lg-6">
					<div class="input-group mb-2">
						<span class="input-group-addon col-2">이름</span> 
						<input type="text" class="form-control" id="" name="teacherName" autocomplete="off" th:value="${paramMap['teacherName']}"  >
					</div>
				</div>
				<div class="col-xs-12 col-lg-6">
					<div class="input-group mb-2">
						<span class="input-group-addon col-2">아이디</span> 
						<input type="text" class="form-control" id="" name="teacherId" autocomplete="off" th:value="${paramMap['teacherId']}" >
					</div>
				</div>
				<div class="col-xs-12 col-lg-6">
					<div class="input-group mb-2">
						<span class="input-group-addon col-2">전화번호</span> 
						<input type="text" class="form-control" id="" name="teacherTell" autocomplete="off" th:value="${paramMap['teacherTell']}" >
					</div>
				</div>
				<div class="col-xs-12 col-lg-6">
					<div class="input-group mb-2">
						<span class="input-group-addon col-2">권한</span> 
							<div class="in-search-detail NewDataSelect mb-2">
							<label class="radio-inline lg-mr-10 md-mr-15 rating-form">
								<input type="radio" class="rating-chk focus" id="search_type1"
								name="teacherRole" value="" th:checked="${paramMap['teacherRole'] ==null or paramMap['teacherRole'] eq ''}"> <span class="lg-ml-5">전체</span>
								<!-- 전체에도 밸류값 빈문자열 넣어줘야함(빈문자열은 null이 아님)  -->
							</label> 
							<label class="radio-inline lg-mr-10 md-mr-15 rating-form">
								<input type="radio" class="rating-chk focus" id="search_type2"
								name="teacherRole" value="TEACHER" th:checked="${paramMap['teacherRole'] eq 'TEACHER'}"> 
	 							<span class="lg-ml-5">교사</span>
							</label> 
							<label class="radio-inline lg-mr-10 md-mr-15 rating-form">
								<input type="radio" class="rating-chk focus" id="search_type3"
								name="teacherRole" value="UNAPPROVED" th:checked="${paramMap['teacherRole'] eq 'UNAPPROVED'}"> 
								<span class="lg-ml-5">미승인</span>
							</label>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-lg-6">
					<div class="input-group mb-2">
						<span class="input-group-addon col-2">수업일</span> 
						<input type="date"
							class="form-control" id="" name="" autocomplete="off">
						<!--변수 인식하기 위해 value말고 th:value  -->
						<input type="date" class="form-control" id="" name=""
							autocomplete="off">
						<!--notion  -->
					</div>
				</div>
				<div class="col-xs-12 col-lg-6">
					<div class="input-group">
						<span class="input-group-addon col-2">상태</span>
						<div class="in-search-detail NewDataSelect mb-2">
							<label class="radio-inline lg-mr-10 md-mr-15 rating-form">
								<input type="radio" class="rating-chk focus" id="search_type1"
								name="teacherStatus" value="" th:checked="${paramMap['teacherStatus'] ==null or paramMap['teacherStatus'] eq ''}"> <span class="lg-ml-5">전체</span>
								<!-- 전체에도 밸류값 빈문자열 넣어줘야함(빈문자열은 null이 아님)  -->
							</label> 
							<label class="radio-inline lg-mr-10 md-mr-15 rating-form">
								<input type="radio" class="rating-chk focus" id="search_type2"
								name="teacherStatus" value="Y" th:checked="${paramMap['teacherStatus'] eq 'Y'}"> 
	 							<span class="lg-ml-5">재직중</span>
							</label> 
							<label class="radio-inline lg-mr-10 md-mr-15 rating-form">
								<input type="radio" class="rating-chk focus" id="search_type3"
								name="teacherStatus" value="N" th:checked="${paramMap['teacherStatus'] eq 'N'}"> 
								<span class="lg-ml-5">퇴직</span>
							</label>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-lg-6">
					<div class="input-group">
						<span class="input-group-addon col-2"> 담당과목</span> 
						<select class="form-select" aria-label="Default select example"
							name="subjectCode">
							<option value="" th:selected="${paramMap['subjectCode'] == null or paramMap['subjectCode'] eq ''}">전체</option>
							<option th:each="subject:${subjectList}"
									th:value="${subject.subjectCode}" th:text="${subject.subjectName}" th:selected="${paramMap['subjectCode'] eq subject.subjectCode}">과목</option>
						</select>
					</div>
				</div>
				<div class="col-xs-12 col-lg-6">
					<div class="d-grid gap-2">
						<div class="d-grid gap-2">
							<button type="submit" name="btn-detail-search"
								class="btn btn-outline-dark me-md-2">검색</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</form>







<!--여기까지 검색 div  -->




<!--여기부터 리스트  -->

<div class="row mt-5" id="table_box_bootstrap">

		<table class="table table-hover text-center align-middle ">
			<!-- 세로로 가운데로 -->
			<thead>
				<tr>
					<th scope="col">
						<input type="checkbox" id="checkAll">
					</th>
					<th scope="col">이름</th>
					<th scope="col">아이디</th>
					<th scope="col">담당과목</th>
					<th scope="col">전화번호</th>
					<th scope="col">재직상태</th>
					<th scope="col">경력</th>
					<th scope="col" class="bi bi-arrow-through-heart-fill">권한</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<th:block th:if="${#lists.size(searchTeacher)==0}">
					<tr>
						<td colspan="8"> 조회된 교사 데이터가 없습니다.</td>
					</tr>
				</th:block>
				<th:block th:unless="${#lists.size(searchTeacher)==0}">
					<tr th:each="teacher:${searchTeacher}">
						<td>
							<input type="checkbox" class="chk">
						</td>
						<td th:text="${teacher.teacherName}">
							<input id=parentTeacherCode type="hidden" th:value="${teacher.teacherCode}">
						</td>
						<td><span class="sName" th:text="${teacher.teacherId}" th:onclick="teacherPopup([[${teacher.teacherCode}]]);"></span> </td>
						<td th:text="${teacher.SubjectVO.subjectName}"  th:value="${teacher.subjectCode}"></td>
						<td th:text="${teacher.teacherTell}"></td>
						<td th:text="${teacher.teacherStatus}"></td>
						<td th:text="${teacher.career}"></td>
						<td th:text="${teacher.teacherRole}"></td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>



<!--여기까지  -->




	<script th:src="@{/js/paginator.js}"></script>	
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" th:src="@{/js/admin/teacherList.js}"></script>


</div>


</html>